In [3]:
from pandas import concat,DataFrame
import numpy as np 
import pandas as pd

In [4]:
df = pd.read_csv("city_hour.csv") 
df=df[df['City']=='Chennai']
df.drop(columns=['City','NOx','PM10','SO2','NO','AQI_Bucket','Benzene','Toluene','Xylene'],axis=1,inplace=True)
df.head(5)

                   Datetime  PM2.5    NO2   NH3    CO     O3  AQI
187751  2015-01-01 01:00:00    NaN  47.97  6.36  0.92   7.65  NaN
187752  2015-01-01 02:00:00    NaN  12.31  4.93  0.77  10.96  NaN
187753  2015-01-01 03:00:00    NaN  13.72  3.92  1.06  12.14  NaN
187754  2015-01-01 04:00:00    NaN  14.45  4.54  1.54  11.95  NaN
187755  2015-01-01 05:00:00    NaN  20.16  4.85  1.03  11.64  NaN

In [5]:
df.interpolate(limit_direction="both",inplace=True)
df.head(5)

                   Datetime  PM2.5    NO2   NH3    CO     O3    AQI
187751  2015-01-01 01:00:00  428.3  47.97  6.36  0.92   7.65  333.0
187752  2015-01-01 02:00:00  428.3  12.31  4.93  0.77  10.96  333.0
187753  2015-01-01 03:00:00  428.3  13.72  3.92  1.06  12.14  333.0
187754  2015-01-01 04:00:00  428.3  14.45  4.54  1.54  11.95  333.0
187755  2015-01-01 05:00:00  428.3  20.16  4.85  1.03  11.64  333.0

In [6]:
df_test= pd.read_csv("Sensor_Data_Full.csv") 
df_test.interpolate(limit_direction="both",inplace=True)
df_test.head(5)

              Datetime  PM2.5    NO2     NH3    CO     O3   AQI
0  2021-01-17 10:00:00  45.31  11.52  133.01  1.37   3.04  90.0
1  2021-01-17 11:00:00  44.60  11.52  133.01  1.37   7.21  87.0
2  2021-01-17 12:00:00  39.12  11.52  133.01  1.37  14.03  77.0
3  2021-01-17 13:00:00  35.20  11.52  133.01  1.37  20.43  69.0
4  2021-01-17 14:00:00  32.67  11.52  133.01  1.37  21.31  65.0

In [7]:
aqi_list=df['AQI'].to_list()
aqi_list_test=df_test['AQI'].to_list()

In [8]:
def series_to_supervised(data, n_in, n_out):
	n_vars = 1 if type(data) is list else data.shape[1]
	df = DataFrame(data)
	cols, names = list(), list()
	# input sequence (t-n, ... t-1)
	for i in range(n_in, 0, -1):
		cols.append(df.shift(i))
		names += [('AQI(t-%d)' % (i)) for j in range(n_vars)]
	# forecast sequence (t, t+1, ... t+n)
	for i in range(1, n_out):
		cols.append(df.shift(-i))
		names += [('AQI(t+%d)' % (i)) for j in range(n_vars)]
	# put it all together
	agg = concat(cols, axis=1)
	agg.columns = names
	return agg

df1= series_to_supervised(aqi_list, 4, 6)
print(df1)

df1_test= series_to_supervised(aqi_list_test, 4, 6)
print(df1_test)

       AQI(t-4)  AQI(t-3)  AQI(t-2)  AQI(t-1)  AQI(t+1)  AQI(t+2)  AQI(t+3)  \
0           NaN       NaN       NaN       NaN     333.0     333.0     333.0
1           NaN       NaN       NaN     333.0     333.0     333.0     333.0
2           NaN       NaN     333.0     333.0     333.0     333.0     333.0
3           NaN     333.0     333.0     333.0     333.0     333.0     333.0
4         333.0     333.0     333.0     333.0     333.0     333.0     333.0
5         333.0     333.0     333.0     333.0     333.0     333.0     333.0
6         333.0     333.0     333.0     333.0     333.0     333.0     333.0
7         333.0     333.0     333.0     333.0     333.0     333.0     333.0
8         333.0     333.0     333.0     333.0     333.0     333.0     333.0
9         333.0     333.0     333.0     333.0     333.0     333.0     333.0
10        333.0     333.0     333.0     333.0     333.0     333.0     333.0
11        333.0     333.0     333.0     333.0     333.0     333.0     333.0
12        333.0     333.0     333.0     333.0     333.0     333.0     333.0
13        333.0     333.0     333.0     333.0     333.0     333.0     333.0
14        333.0     333.0     333.0     333.0     333.0     333.0     333.0
15        333.0     333.0     333.0     333.0     333.0     333.0     333.0
16        333.0     333.0     333.0     333.0     333.0     333.0     333.0
17        333.0     333.0     333.0     333.0     333.0     333.0     333.0
18        333.0     333.0     333.0     333.0     333.0     333.0     333.0
19        333.0     333.0     333.0     333.0     333.0     333.0     333.0
20        333.0     333.0     333.0     333.0     333.0     333.0     333.0
21        333.0     333.0     333.0     333.0     333.0     333.0     333.0
22        333.0     333.0     333.0     333.0     333.0     333.0     333.0
23        333.0     333.0     333.0     333.0     333.0     333.0     333.0
24        333.0     333.0     333.0     333.0     333.0     333.0     333.0
25        333.0     333.0     333.0     333.0     333.0     333.0     333.0
26        333.0     333.0     333.0     333.0     333.0     333.0     333.0
27        333.0     333.0     333.0     333.0     333.0     333.0     333.0
28        333.0     333.0     333.0     333.0     333.0     333.0     333.0
29        333.0     333.0     333.0     333.0     333.0     333.0     333.0
...         ...       ...       ...       ...       ...       ...       ...
48162     111.0     111.0     108.0     100.0     100.0     103.0     106.0
48163     111.0     108.0     100.0      96.0     103.0     106.0     108.0
48164     108.0     100.0      96.0     100.0     106.0     108.0     109.0
48165     100.0      96.0     100.0     103.0     108.0     109.0     110.0
48166      96.0     100.0     103.0     106.0     109.0     110.0     110.0
48167     100.0     103.0     106.0     108.0     110.0     110.0      90.0
48168     103.0     106.0     108.0     109.0     110.0      90.0      90.0
48169     106.0     108.0     109.0     110.0      90.0      90.0      90.0
48170     108.0     109.0     110.0     110.0      90.0      90.0      89.0
48171     109.0     110.0     110.0      90.0      90.0      89.0      89.0
48172     110.0     110.0      90.0      90.0      89.0      89.0      90.0
48173     110.0      90.0      90.0      90.0      89.0      90.0     122.0
48174      90.0      90.0      90.0      89.0      90.0     122.0     132.0
48175      90.0      90.0      89.0      89.0     122.0     132.0     132.0
48176      90.0      89.0      89.0      90.0     132.0     132.0     131.0
48177      89.0      89.0      90.0     122.0     132.0     131.0     132.0
48178      89.0      90.0     122.0     132.0     131.0     132.0     132.0
48179      90.0     122.0     132.0     132.0     132.0     132.0     133.0
48180     122.0     132.0     132.0     131.0     132.0     133.0     134.0
48181     132.0     132.0     131.0     132.0     133.0     134.0     130.0
48182     132.0     131.0     132.0     132.0     134.0     130.0     120.0
48183     131.0     132.0     132.0     133.0     130.0     120.0     115.0
48184     132.0     132.0     133.0     134.0     120.0     115.0      90.0
48185     132.0     133.0     134.0     130.0     115.0      90.0      88.0
48186     133.0     134.0     130.0     120.0      90.0      88.0      89.0
48187     134.0     130.0     120.0     115.0      88.0      89.0      91.0
48188     130.0     120.0     115.0      90.0      89.0      91.0      92.0
48189     120.0     115.0      90.0      88.0      91.0      92.0       NaN
48190     115.0      90.0      88.0      89.0      92.0       NaN       NaN
48191      90.0      88.0      89.0      91.0       NaN       NaN       NaN

       AQI(t+4)  AQI(t+5)
0         333.0     333.0
1         333.0     333.0
2         333.0     333.0
3         333.0     333.0
4         333.0     333.0
5         333.0     333.0
6         333.0     333.0
7         333.0     333.0
8         333.0     333.0
9         333.0     333.0
10        333.0     333.0
11        333.0     333.0
12        333.0     333.0
13        333.0     333.0
14        333.0     333.0
15        333.0     333.0
16        333.0     333.0
17        333.0     333.0
18        333.0     333.0
19        333.0     333.0
20        333.0     333.0
21        333.0     333.0
22        333.0     333.0
23        333.0     333.0
24        333.0     333.0
25        333.0     333.0
26        333.0     333.0
27        333.0     333.0
28        333.0     333.0
29        333.0     333.0
...         ...       ...
48162     108.0     109.0
48163     109.0     110.0
48164     110.0     110.0
48165     110.0      90.0
48166      90.0      90.0
48167      90.0      90.0
48168      90.0      89.0
48169      89.0      89.0
48170      89.0      90.0
48171      90.0     122.0
48172     122.0     132.0
48173     132.0     132.0
48174     132.0     131.0
48175     131.0     132.0
48176     132.0     132.0
48177     132.0     133.0
48178     133.0     134.0
48179     134.0     130.0
48180     130.0     120.0
48181     120.0     115.0
48182     115.0      90.0
48183      90.0      88.0
48184      88.0      89.0
48185      89.0      91.0
48186      91.0      92.0
48187      92.0       NaN
48188       NaN       NaN
48189       NaN       NaN
48190       NaN       NaN
48191       NaN       NaN

[48192 rows x 9 columns]
      AQI(t-4)  AQI(t-3)  AQI(t-2)  AQI(t-1)  AQI(t+1)  AQI(t+2)  AQI(t+3)  \
0          NaN       NaN       NaN       NaN      87.0      77.0      69.0
1          NaN       NaN       NaN      90.0      77.0      69.0      65.0
2          NaN       NaN      90.0      87.0      69.0      65.0      56.0
3          NaN      90.0      87.0      77.0      65.0      56.0      44.0
4         90.0      87.0      77.0      69.0      56.0      44.0      36.0
5         87.0      77.0      69.0      65.0      44.0      36.0      32.0
6         77.0      69.0      65.0      56.0      36.0      32.0      34.0
7         69.0      65.0      56.0      44.0      32.0      34.0      47.0
8         65.0      56.0      44.0      36.0      34.0      47.0      49.0
9         56.0      44.0      36.0      32.0      47.0      49.0      39.0
10        44.0      36.0      32.0      34.0      49.0      39.0      38.0
11        36.0      32.0      34.0      47.0      39.0      38.0      42.0
12        32.0      34.0      47.0      49.0      38.0      42.0      44.0
13        34.0      47.0      49.0      39.0      42.0      44.0      41.0
14        47.0      49.0      39.0      38.0      44.0      41.0      41.0
15        49.0      39.0      38.0      42.0      41.0      41.0      44.0
16        39.0      38.0      42.0      44.0      41.0      44.0      40.0
17        38.0      42.0      44.0      41.0      44.0      40.0      38.0
18        42.0      44.0      41.0      41.0      40.0      38.0      39.0
19        44.0      41.0      41.0      44.0      38.0      39.0      37.0
20        41.0      41.0      44.0      40.0      39.0      37.0      48.0
21        41.0      44.0      40.0      38.0      37.0      48.0      61.0
22        44.0      40.0      38.0      39.0      48.0      61.0      63.0
23        40.0      38.0      39.0      37.0      61.0      63.0     103.0
24        38.0      39.0      37.0      48.0      63.0     103.0     104.0
25        39.0      37.0      48.0      61.0     103.0     104.0     102.0
26        37.0      48.0      61.0      63.0     104.0     102.0      99.0
27        48.0      61.0      63.0     103.0     102.0      99.0      99.0
28        61.0      63.0     103.0     104.0      99.0      99.0     195.0
29        63.0     103.0     104.0     102.0      99.0     195.0     195.0
...        ...       ...       ...       ...       ...       ...       ...
1664      60.0      59.0      60.0      61.0      65.0      59.0      60.0
1665      59.0      60.0      61.0      59.0      59.0      60.0      63.0
1666      60.0      61.0      59.0      65.0      60.0      63.0      64.0
1667      61.0      59.0      65.0      59.0      63.0      64.0      67.0
1668      59.0      65.0      59.0      60.0      64.0      67.0      74.0
1669      65.0      59.0      60.0      63.0      67.0      74.0      84.0
1670      59.0      60.0      63.0      64.0      74.0      84.0      93.0
1671      60.0      63.0      64.0      67.0      84.0      93.0      86.0
1672      63.0      64.0      67.0      74.0      93.0      86.0      74.0
1673      64.0      67.0      74.0      84.0      86.0      74.0      70.0
1674      67.0      74.0      84.0      93.0      74.0      70.0      66.0
1675      74.0      84.0      93.0      86.0      70.0      66.0      62.0
1676      84.0      93.0      86.0      74.0      66.0      62.0      63.0
1677      93.0      86.0      74.0      70.0      62.0      63.0      67.0
1678      86.0      74.0      70.0      66.0      63.0      67.0      64.0
1679      74.0      70.0      66.0      62.0      67.0      64.0      53.0
1680      70.0      66.0      62.0      63.0      64.0      53.0      45.0
1681      66.0      62.0      63.0      67.0      53.0      45.0     105.0
1682      62.0      63.0      67.0      64.0      45.0     105.0     104.0
1683      63.0      67.0      64.0      53.0     105.0     104.0     106.0
1684      67.0      64.0      53.0      45.0     104.0     106.0     108.0
1685      64.0      53.0      45.0     105.0     106.0     108.0     113.0
1686      53.0      45.0     105.0     104.0     108.0     113.0     116.0
1687      45.0     105.0     104.0     106.0     113.0     116.0     111.0
1688     105.0     104.0     106.0     108.0     116.0     111.0     109.0
1689     104.0     106.0     108.0     113.0     111.0     109.0     107.0
1690     106.0     108.0     113.0     116.0     109.0     107.0     102.0
1691     108.0     113.0     116.0     111.0     107.0     102.0       NaN
1692     113.0     116.0     111.0     109.0     102.0       NaN       NaN
1693     116.0     111.0     109.0     107.0       NaN       NaN       NaN

      AQI(t+4)  AQI(t+5)
0         65.0      56.0
1         56.0      44.0
2         44.0      36.0
3         36.0      32.0
4         32.0      34.0
5         34.0      47.0
6         47.0      49.0
7         49.0      39.0
8         39.0      38.0
9         38.0      42.0
10        42.0      44.0
11        44.0      41.0
12        41.0      41.0
13        41.0      44.0
14        44.0      40.0
15        40.0      38.0
16        38.0      39.0
17        39.0      37.0
18        37.0      48.0
19        48.0      61.0
20        61.0      63.0
21        63.0     103.0
22       103.0     104.0
23       104.0     102.0
24       102.0      99.0
25        99.0      99.0
26        99.0     195.0
27       195.0     195.0
28       195.0     125.0
29       125.0     118.0
...        ...       ...
1664      63.0      64.0
1665      64.0      67.0
1666      67.0      74.0
1667      74.0      84.0
1668      84.0      93.0
1669      93.0      86.0
1670      86.0      74.0
1671      74.0      70.0
1672      70.0      66.0
1673      66.0      62.0
1674      62.0      63.0
1675      63.0      67.0
1676      67.0      64.0
1677      64.0      53.0
1678      53.0      45.0
1679      45.0     105.0
1680     105.0     104.0
1681     104.0     106.0
1682     106.0     108.0
1683     108.0     113.0
1684     113.0     116.0
1685     116.0     111.0
1686     111.0     109.0
1687     109.0     107.0
1688     107.0     102.0
1689     102.0       NaN
1690       NaN       NaN
1691       NaN       NaN
1692       NaN       NaN
1693       NaN       NaN

[1694 rows x 9 columns]

In [9]:
df2 = pd.concat([df.reset_index(drop=True),df1.reset_index(drop=True)], axis=1)
print(df2)

                  Datetime   PM2.5    NO2    NH3    CO      O3    AQI  \
0      2015-01-01 01:00:00  428.30  47.97   6.36  0.92    7.65  333.0
1      2015-01-01 02:00:00  428.30  12.31   4.93  0.77   10.96  333.0
2      2015-01-01 03:00:00  428.30  13.72   3.92  1.06   12.14  333.0
3      2015-01-01 04:00:00  428.30  14.45   4.54  1.54   11.95  333.0
4      2015-01-01 05:00:00  428.30  20.16   4.85  1.03   11.64  333.0
5      2015-01-01 06:00:00  428.30   8.69   5.17  1.10   11.31  333.0
6      2015-01-01 07:00:00  428.30  19.66   6.02  1.29   12.90  333.0
7      2015-01-01 08:00:00  428.30  22.23   8.41  1.29   13.32  333.0
8      2015-01-01 09:00:00  428.30  20.16   4.58  1.30   12.66  333.0
9      2015-01-01 10:00:00  428.30   6.89   4.26  1.08   11.49  333.0
10     2015-01-01 11:00:00  428.30  15.82   3.93  1.18   12.22  333.0
11     2015-01-01 12:00:00  428.30  35.29   4.00  1.60   10.02  333.0
12     2015-01-01 13:00:00  428.30   9.62   3.91  1.50   10.04  333.0
13     2015-01-01 14:00:00  428.30   9.90   3.72  1.07    9.72  333.0
14     2015-01-01 15:00:00  428.30   9.37   3.75  0.90   11.32  333.0
15     2015-01-01 16:00:00  428.30  11.37   4.55  0.92   10.42  333.0
16     2015-01-01 17:00:00  428.30  11.96   3.03  1.18    9.07  333.0
17     2015-01-01 18:00:00  428.30  11.79   4.24  1.19   11.20  333.0
18     2015-01-01 19:00:00  428.30  11.54   3.96  1.44   11.17  333.0
19     2015-01-01 20:00:00  428.30  10.07   4.17  1.27   13.43  333.0
20     2015-01-01 21:00:00  428.30   9.32   4.33  1.16   14.06  333.0
21     2015-01-01 22:00:00  428.30   7.94   4.20  1.07   11.69  333.0
22     2015-01-01 23:00:00  428.30  13.79   4.68  1.08   10.76  333.0
23     2015-01-02 00:00:00  428.30  43.17   5.48  1.11   11.66  333.0
24     2015-01-02 01:00:00  428.30  13.33   5.64  0.86   13.18  333.0
25     2015-01-02 02:00:00  428.30  14.08   7.74  0.91   11.52  333.0
26     2015-01-02 03:00:00  428.30  17.17  10.51  0.82   11.90  333.0
27     2015-01-02 04:00:00  428.30  17.82  10.28  0.97   12.03  333.0
28     2015-01-02 05:00:00  428.30  16.37   9.65  1.16   11.23  333.0
29     2015-01-02 06:00:00  428.30  15.27  21.13  1.63    9.76  333.0
...                    ...     ...    ...    ...   ...     ...    ...
48162  2020-06-29 19:00:00   18.65  10.87  33.95  0.98   83.93   96.0
48163  2020-06-29 20:00:00   18.67   9.96  34.22  0.94   51.24  100.0
48164  2020-06-29 21:00:00   29.83   9.42  34.37  0.92   50.47  103.0
48165  2020-06-29 22:00:00   27.39   8.36  34.72  0.96   55.91  106.0
48166  2020-06-29 23:00:00   29.61   8.03  34.46  0.84   61.47  108.0
48167  2020-06-30 00:00:00   35.63   7.85  34.62  0.78   62.77  109.0
48168  2020-06-30 01:00:00   28.57   8.63  33.60  0.83   74.46  110.0
48169  2020-06-30 02:00:00   32.09   6.39  35.06  0.98   71.89  110.0
48170  2020-06-30 03:00:00   24.46   8.35  34.58  1.01   70.66   90.0
48171  2020-06-30 04:00:00   20.29   7.83  35.20  1.04   68.95   90.0
48172  2020-06-30 05:00:00   21.57   7.33  34.84  1.08   69.65   90.0
48173  2020-06-30 06:00:00   17.28   7.92  34.79  1.15   65.34   89.0
48174  2020-06-30 07:00:00   18.08   8.37  34.28  1.28   68.58   89.0
48175  2020-06-30 08:00:00   21.96   9.39  34.96  1.13   74.93   90.0
48176  2020-06-30 09:00:00   26.36   9.70  34.70  1.14  106.55  122.0
48177  2020-06-30 10:00:00   23.21   9.76  35.16  1.06  109.72  132.0
48178  2020-06-30 11:00:00   20.76  13.55  35.21  1.07   97.21  132.0
48179  2020-06-30 12:00:00   25.30  27.04  35.32  1.04   93.54  131.0
48180  2020-06-30 13:00:00   21.90   9.45  34.78  0.99   71.07  132.0
48181  2020-06-30 14:00:00   20.97  21.71  32.34  0.99   61.93  132.0
48182  2020-06-30 15:00:00   20.51  30.15  32.32  1.06   59.08  133.0
48183  2020-06-30 16:00:00   27.37  15.74  34.16  1.10   53.00  134.0
48184  2020-06-30 17:00:00   24.60  14.64  34.22  1.03   59.22  130.0
48185  2020-06-30 18:00:00   23.50  13.08  33.98  1.04   66.74  120.0
48186  2020-06-30 19:00:00   29.82  15.63  33.37  1.22   58.54  115.0
48187  2020-06-30 20:00:00   23.81  11.13  32.97  1.10   42.74   90.0
48188  2020-06-30 21:00:00   24.84  11.30  33.20  1.11   45.39   88.0
48189  2020-06-30 22:00:00   23.84  11.05  33.06  0.99   47.36   89.0
48190  2020-06-30 23:00:00   22.60  11.15  33.45  1.01   50.78   91.0
48191  2020-07-01 00:00:00   15.95  10.72  33.52  1.02   48.37   92.0

       AQI(t-4)  AQI(t-3)  AQI(t-2)  AQI(t-1)  AQI(t+1)  AQI(t+2)  AQI(t+3)  \
0           NaN       NaN       NaN       NaN     333.0     333.0     333.0
1           NaN       NaN       NaN     333.0     333.0     333.0     333.0
2           NaN       NaN     333.0     333.0     333.0     333.0     333.0
3           NaN     333.0     333.0     333.0     333.0     333.0     333.0
4         333.0     333.0     333.0     333.0     333.0     333.0     333.0
5         333.0     333.0     333.0     333.0     333.0     333.0     333.0
6         333.0     333.0     333.0     333.0     333.0     333.0     333.0
7         333.0     333.0     333.0     333.0     333.0     333.0     333.0
8         333.0     333.0     333.0     333.0     333.0     333.0     333.0
9         333.0     333.0     333.0     333.0     333.0     333.0     333.0
10        333.0     333.0     333.0     333.0     333.0     333.0     333.0
11        333.0     333.0     333.0     333.0     333.0     333.0     333.0
12        333.0     333.0     333.0     333.0     333.0     333.0     333.0
13        333.0     333.0     333.0     333.0     333.0     333.0     333.0
14        333.0     333.0     333.0     333.0     333.0     333.0     333.0
15        333.0     333.0     333.0     333.0     333.0     333.0     333.0
16        333.0     333.0     333.0     333.0     333.0     333.0     333.0
17        333.0     333.0     333.0     333.0     333.0     333.0     333.0
18        333.0     333.0     333.0     333.0     333.0     333.0     333.0
19        333.0     333.0     333.0     333.0     333.0     333.0     333.0
20        333.0     333.0     333.0     333.0     333.0     333.0     333.0
21        333.0     333.0     333.0     333.0     333.0     333.0     333.0
22        333.0     333.0     333.0     333.0     333.0     333.0     333.0
23        333.0     333.0     333.0     333.0     333.0     333.0     333.0
24        333.0     333.0     333.0     333.0     333.0     333.0     333.0
25        333.0     333.0     333.0     333.0     333.0     333.0     333.0
26        333.0     333.0     333.0     333.0     333.0     333.0     333.0
27        333.0     333.0     333.0     333.0     333.0     333.0     333.0
28        333.0     333.0     333.0     333.0     333.0     333.0     333.0
29        333.0     333.0     333.0     333.0     333.0     333.0     333.0
...         ...       ...       ...       ...       ...       ...       ...
48162     111.0     111.0     108.0     100.0     100.0     103.0     106.0
48163     111.0     108.0     100.0      96.0     103.0     106.0     108.0
48164     108.0     100.0      96.0     100.0     106.0     108.0     109.0
48165     100.0      96.0     100.0     103.0     108.0     109.0     110.0
48166      96.0     100.0     103.0     106.0     109.0     110.0     110.0
48167     100.0     103.0     106.0     108.0     110.0     110.0      90.0
48168     103.0     106.0     108.0     109.0     110.0      90.0      90.0
48169     106.0     108.0     109.0     110.0      90.0      90.0      90.0
48170     108.0     109.0     110.0     110.0      90.0      90.0      89.0
48171     109.0     110.0     110.0      90.0      90.0      89.0      89.0
48172     110.0     110.0      90.0      90.0      89.0      89.0      90.0
48173     110.0      90.0      90.0      90.0      89.0      90.0     122.0
48174      90.0      90.0      90.0      89.0      90.0     122.0     132.0
48175      90.0      90.0      89.0      89.0     122.0     132.0     132.0
48176      90.0      89.0      89.0      90.0     132.0     132.0     131.0
48177      89.0      89.0      90.0     122.0     132.0     131.0     132.0
48178      89.0      90.0     122.0     132.0     131.0     132.0     132.0
48179      90.0     122.0     132.0     132.0     132.0     132.0     133.0
48180     122.0     132.0     132.0     131.0     132.0     133.0     134.0
48181     132.0     132.0     131.0     132.0     133.0     134.0     130.0
48182     132.0     131.0     132.0     132.0     134.0     130.0     120.0
48183     131.0     132.0     132.0     133.0     130.0     120.0     115.0
48184     132.0     132.0     133.0     134.0     120.0     115.0      90.0
48185     132.0     133.0     134.0     130.0     115.0      90.0      88.0
48186     133.0     134.0     130.0     120.0      90.0      88.0      89.0
48187     134.0     130.0     120.0     115.0      88.0      89.0      91.0
48188     130.0     120.0     115.0      90.0      89.0      91.0      92.0
48189     120.0     115.0      90.0      88.0      91.0      92.0       NaN
48190     115.0      90.0      88.0      89.0      92.0       NaN       NaN
48191      90.0      88.0      89.0      91.0       NaN       NaN       NaN

       AQI(t+4)  AQI(t+5)
0         333.0     333.0
1         333.0     333.0
2         333.0     333.0
3         333.0     333.0
4         333.0     333.0
5         333.0     333.0
6         333.0     333.0
7         333.0     333.0
8         333.0     333.0
9         333.0     333.0
10        333.0     333.0
11        333.0     333.0
12        333.0     333.0
13        333.0     333.0
14        333.0     333.0
15        333.0     333.0
16        333.0     333.0
17        333.0     333.0
18        333.0     333.0
19        333.0     333.0
20        333.0     333.0
21        333.0     333.0
22        333.0     333.0
23        333.0     333.0
24        333.0     333.0
25        333.0     333.0
26        333.0     333.0
27        333.0     333.0
28        333.0     333.0
29        333.0     333.0
...         ...       ...
48162     108.0     109.0
48163     109.0     110.0
48164     110.0     110.0
48165     110.0      90.0
48166      90.0      90.0
48167      90.0      90.0
48168      90.0      89.0
48169      89.0      89.0
48170      89.0      90.0
48171      90.0     122.0
48172     122.0     132.0
48173     132.0     132.0
48174     132.0     131.0
48175     131.0     132.0
48176     132.0     132.0
48177     132.0     133.0
48178     133.0     134.0
48179     134.0     130.0
48180     130.0     120.0
48181     120.0     115.0
48182     115.0      90.0
48183      90.0      88.0
48184      88.0      89.0
48185      89.0      91.0
48186      91.0      92.0
48187      92.0       NaN
48188       NaN       NaN
48189       NaN       NaN
48190       NaN       NaN
48191       NaN       NaN

[48192 rows x 16 columns]

In [10]:
df2_test = pd.concat([df_test.reset_index(drop=True),df1_test.reset_index(drop=True)], axis=1)
print(df2_test)

                 Datetime  PM2.5     NO2     NH3     CO     O3    AQI  \
0     2021-01-17 10:00:00  45.31   11.52  133.01   1.37   3.04   90.0
1     2021-01-17 11:00:00  44.60   11.52  133.01   1.37   7.21   87.0
2     2021-01-17 12:00:00  39.12   11.52  133.01   1.37  14.03   77.0
3     2021-01-17 13:00:00  35.20   11.52  133.01   1.37  20.43   69.0
4     2021-01-17 14:00:00  32.67   11.52  133.01   1.37  21.31   65.0
5     2021-01-17 15:00:00  28.62   11.52  133.01   1.37  19.42   56.0
6     2021-01-17 16:00:00  22.43   11.52  133.01   1.37  24.42   44.0
7     2021-01-17 17:00:00  18.21   11.52  133.01   1.37  13.37   36.0
8     2021-01-17 18:00:00  16.47   11.52  133.01   1.37  17.24   32.0
9     2021-01-17 19:00:00  17.07   11.52  133.01   1.37  17.78   34.0
10    2021-01-17 20:00:00  24.89   11.52  133.01   1.37  17.36   47.0
11    2021-01-17 21:00:00  25.31   11.52  133.01   1.37   5.12   49.0
12    2021-01-17 22:00:00  20.07   11.52  133.01   1.37   9.08   39.0
13    2021-01-17 23:00:00  19.91   11.52  133.01   1.37  23.62   38.0
14    2021-01-18 00:00:00  21.48   11.52  133.01   1.37  18.43   42.0
15    2021-01-18 01:00:00  22.63   11.52  133.01   1.37  20.62   44.0
16    2021-01-18 02:00:00  20.17   11.52  133.01   1.37  20.21   41.0
17    2021-01-18 03:00:00  20.19   11.52  133.01   1.37  20.19   41.0
18    2021-01-18 04:00:00  22.45   11.52  133.01   1.37  20.67   44.0
19    2021-01-18 05:00:00  20.03   11.52  133.01   1.37  20.12   40.0
20    2021-01-18 06:00:00  19.87   11.52  133.01   1.37  20.04   38.0
21    2021-01-18 07:00:00  20.69   11.52  133.01   1.37  18.20   39.0
22    2021-01-18 08:00:00  18.53   11.52  133.01   1.37  19.02   37.0
23    2021-01-18 09:00:00  24.54   11.52  133.01   1.37  19.45   48.0
24    2021-01-18 10:00:00  30.68   11.52  133.01   1.37  19.76   61.0
25    2021-01-18 11:00:00  31.42   11.52  133.01   1.37  42.38   63.0
26    2021-01-18 12:00:00  53.04   11.52  133.01   1.37  16.06  103.0
27    2021-01-18 13:00:00  54.36   11.52  133.01   1.37  18.21  104.0
28    2021-01-18 14:00:00  52.71   11.52  133.01   1.37  21.76  102.0
29    2021-01-18 15:00:00  50.93   11.52  133.01   1.37  20.12   99.0
...                   ...    ...     ...     ...    ...    ...    ...
1664  2021-03-28 07:00:00  22.14   17.82    9.03   1.07   0.49   59.0
1665  2021-03-28 08:00:00  22.80    9.89    9.68   0.77   3.24   65.0
1666  2021-03-28 09:00:00  22.73   14.42    9.69   0.70   0.52   59.0
1667  2021-03-28 10:00:00  24.79   15.98   10.00   0.98   2.16   60.0
1668  2021-03-28 11:00:00  22.66   14.65   10.00   1.01   1.69   63.0
1669  2021-03-28 12:00:00  28.53   16.50   10.00   1.46   1.93   64.0
1670  2021-03-28 13:00:00  29.93   16.22   10.00   1.21   0.99   67.0
1671  2021-03-28 14:00:00  35.88   15.18   20.66   0.93   2.98   74.0
1672  2021-03-28 15:00:00  38.85   68.77   10.00   0.94   0.29   84.0
1673  2021-03-28 16:00:00  35.24  112.37   10.00   1.55   6.98   93.0
1674  2021-03-28 17:00:00  31.28  154.44   10.00   1.42   0.78   86.0
1675  2021-03-28 18:00:00  27.30   79.31   10.00   1.20   3.88   74.0
1676  2021-03-28 19:00:00  25.42   46.13   10.00   0.95   0.68   70.0
1677  2021-03-28 20:00:00  23.95   72.35   10.00   1.58   4.33   66.0
1678  2021-03-28 21:00:00  23.08   27.44    9.80   1.49   0.30   62.0
1679  2021-03-28 22:00:00  29.51   12.24    9.76   1.33   5.12   63.0
1680  2021-03-28 23:00:00  25.59   17.43   10.00   1.15   0.12   67.0
1681  2021-03-29 00:00:00  17.98   51.65   10.00   1.24   4.61   64.0
1682  2021-03-29 01:00:00  14.21   16.10   10.00   1.51   0.29   53.0
1683  2021-03-29 02:00:00  16.38   22.33   10.00   1.17   2.28   45.0
1684  2021-02-18 03:00:00  55.23   16.12  109.64  10.42  24.26  105.0
1685  2021-03-29 04:00:00  53.73   10.42  136.99  10.75  29.88  104.0
1686  2021-03-29 05:00:00  56.22    7.70   42.67  11.32  29.79  106.0
1687  2021-03-29 06:00:00  58.25    6.72   19.33  10.10  27.94  108.0
1688  2021-03-29 07:00:00  65.47    7.52  115.45  11.29  27.77  113.0
1689  2021-03-29 08:00:00  66.87    7.95   58.00   9.85  28.78  116.0
1690  2021-03-29 09:00:00  61.34    6.60   94.02   9.81  25.64  111.0
1691  2021-03-29 10:00:00  59.09    7.05   32.10   9.64  23.94  109.0
1692  2021-03-29 11:00:00  57.06   11.19  137.40   9.28  19.09  107.0
1693  2021-03-29 12:00:00  52.85   16.52  153.18   9.35  20.81  102.0

      AQI(t-4)  AQI(t-3)  AQI(t-2)  AQI(t-1)  AQI(t+1)  AQI(t+2)  AQI(t+3)  \
0          NaN       NaN       NaN       NaN      87.0      77.0      69.0
1          NaN       NaN       NaN      90.0      77.0      69.0      65.0
2          NaN       NaN      90.0      87.0      69.0      65.0      56.0
3          NaN      90.0      87.0      77.0      65.0      56.0      44.0
4         90.0      87.0      77.0      69.0      56.0      44.0      36.0
5         87.0      77.0      69.0      65.0      44.0      36.0      32.0
6         77.0      69.0      65.0      56.0      36.0      32.0      34.0
7         69.0      65.0      56.0      44.0      32.0      34.0      47.0
8         65.0      56.0      44.0      36.0      34.0      47.0      49.0
9         56.0      44.0      36.0      32.0      47.0      49.0      39.0
10        44.0      36.0      32.0      34.0      49.0      39.0      38.0
11        36.0      32.0      34.0      47.0      39.0      38.0      42.0
12        32.0      34.0      47.0      49.0      38.0      42.0      44.0
13        34.0      47.0      49.0      39.0      42.0      44.0      41.0
14        47.0      49.0      39.0      38.0      44.0      41.0      41.0
15        49.0      39.0      38.0      42.0      41.0      41.0      44.0
16        39.0      38.0      42.0      44.0      41.0      44.0      40.0
17        38.0      42.0      44.0      41.0      44.0      40.0      38.0
18        42.0      44.0      41.0      41.0      40.0      38.0      39.0
19        44.0      41.0      41.0      44.0      38.0      39.0      37.0
20        41.0      41.0      44.0      40.0      39.0      37.0      48.0
21        41.0      44.0      40.0      38.0      37.0      48.0      61.0
22        44.0      40.0      38.0      39.0      48.0      61.0      63.0
23        40.0      38.0      39.0      37.0      61.0      63.0     103.0
24        38.0      39.0      37.0      48.0      63.0     103.0     104.0
25        39.0      37.0      48.0      61.0     103.0     104.0     102.0
26        37.0      48.0      61.0      63.0     104.0     102.0      99.0
27        48.0      61.0      63.0     103.0     102.0      99.0      99.0
28        61.0      63.0     103.0     104.0      99.0      99.0     195.0
29        63.0     103.0     104.0     102.0      99.0     195.0     195.0
...        ...       ...       ...       ...       ...       ...       ...
1664      60.0      59.0      60.0      61.0      65.0      59.0      60.0
1665      59.0      60.0      61.0      59.0      59.0      60.0      63.0
1666      60.0      61.0      59.0      65.0      60.0      63.0      64.0
1667      61.0      59.0      65.0      59.0      63.0      64.0      67.0
1668      59.0      65.0      59.0      60.0      64.0      67.0      74.0
1669      65.0      59.0      60.0      63.0      67.0      74.0      84.0
1670      59.0      60.0      63.0      64.0      74.0      84.0      93.0
1671      60.0      63.0      64.0      67.0      84.0      93.0      86.0
1672      63.0      64.0      67.0      74.0      93.0      86.0      74.0
1673      64.0      67.0      74.0      84.0      86.0      74.0      70.0
1674      67.0      74.0      84.0      93.0      74.0      70.0      66.0
1675      74.0      84.0      93.0      86.0      70.0      66.0      62.0
1676      84.0      93.0      86.0      74.0      66.0      62.0      63.0
1677      93.0      86.0      74.0      70.0      62.0      63.0      67.0
1678      86.0      74.0      70.0      66.0      63.0      67.0      64.0
1679      74.0      70.0      66.0      62.0      67.0      64.0      53.0
1680      70.0      66.0      62.0      63.0      64.0      53.0      45.0
1681      66.0      62.0      63.0      67.0      53.0      45.0     105.0
1682      62.0      63.0      67.0      64.0      45.0     105.0     104.0
1683      63.0      67.0      64.0      53.0     105.0     104.0     106.0
1684      67.0      64.0      53.0      45.0     104.0     106.0     108.0
1685      64.0      53.0      45.0     105.0     106.0     108.0     113.0
1686      53.0      45.0     105.0     104.0     108.0     113.0     116.0
1687      45.0     105.0     104.0     106.0     113.0     116.0     111.0
1688     105.0     104.0     106.0     108.0     116.0     111.0     109.0
1689     104.0     106.0     108.0     113.0     111.0     109.0     107.0
1690     106.0     108.0     113.0     116.0     109.0     107.0     102.0
1691     108.0     113.0     116.0     111.0     107.0     102.0       NaN
1692     113.0     116.0     111.0     109.0     102.0       NaN       NaN
1693     116.0     111.0     109.0     107.0       NaN       NaN       NaN

      AQI(t+4)  AQI(t+5)
0         65.0      56.0
1         56.0      44.0
2         44.0      36.0
3         36.0      32.0
4         32.0      34.0
5         34.0      47.0
6         47.0      49.0
7         49.0      39.0
8         39.0      38.0
9         38.0      42.0
10        42.0      44.0
11        44.0      41.0
12        41.0      41.0
13        41.0      44.0
14        44.0      40.0
15        40.0      38.0
16        38.0      39.0
17        39.0      37.0
18        37.0      48.0
19        48.0      61.0
20        61.0      63.0
21        63.0     103.0
22       103.0     104.0
23       104.0     102.0
24       102.0      99.0
25        99.0      99.0
26        99.0     195.0
27       195.0     195.0
28       195.0     125.0
29       125.0     118.0
...        ...       ...
1664      63.0      64.0
1665      64.0      67.0
1666      67.0      74.0
1667      74.0      84.0
1668      84.0      93.0
1669      93.0      86.0
1670      86.0      74.0
1671      74.0      70.0
1672      70.0      66.0
1673      66.0      62.0
1674      62.0      63.0
1675      63.0      67.0
1676      67.0      64.0
1677      64.0      53.0
1678      53.0      45.0
1679      45.0     105.0
1680     105.0     104.0
1681     104.0     106.0
1682     106.0     108.0
1683     108.0     113.0
1684     113.0     116.0
1685     116.0     111.0
1686     111.0     109.0
1687     109.0     107.0
1688     107.0     102.0
1689     102.0       NaN
1690       NaN       NaN
1691       NaN       NaN
1692       NaN       NaN
1693       NaN       NaN

[1694 rows x 16 columns]

In [11]:
df2_test.head(5)

,Datetime,PM2.5,NO2,NH3,CO,O3,AQI,AQI(t-4),AQI(t-3),AQI(t-2),AQI(t-1),AQI(t+1),AQI(t+2),AQI(t+3),AQI(t+4),AQI(t+5)
0,2021-01-17 10:00:00,45.31,11.52,133.01,1.37,3.04,90.0,NaN,NaN,NaN,NaN,87.0,77.0,69.0,65.0,56.0
1,2021-01-17 11:00:00,44.60,11.52,133.01,1.37,7.21,87.0,NaN,NaN,NaN,90.0,77.0,69.0,65.0,56.0,44.0
2,2021-01-17 12:00:00,39.12,11.52,133.01,1.37,14.03,77.0,NaN,NaN,90.0,87.0,69.0,65.0,56.0,44.0,36.0
3,2021-01-17 13:00:00,35.20,11.52,133.01,1.37,20.43,69.0,NaN,90.0,87.0,77.0,65.0,56.0,44.0,36.0,32.0
4,2021-01-17 14:00:00,32.67,11.52,133.01,1.37,21.31,65.0,90.0,87.0,77.0,69.0,56.0,44.0,36.0,32.0,34.0

In [12]:
df2_test.tail(5)

,Datetime,PM2.5,NO2,NH3,CO,O3,AQI,AQI(t-4),AQI(t-3),AQI(t-2),AQI(t-1),AQI(t+1),AQI(t+2),AQI(t+3),AQI(t+4),AQI(t+5)
1689,2021-03-29 08:00:00,66.87,7.95,58.00,9.85,28.78,116.0,104.0,106.0,108.0,113.0,111.0,109.0,107.0,102.0,NaN
1690,2021-03-29 09:00:00,61.34,6.60,94.02,9.81,25.64,111.0,106.0,108.0,113.0,116.0,109.0,107.0,102.0,NaN,NaN
1691,2021-03-29 10:00:00,59.09,7.05,32.10,9.64,23.94,109.0,108.0,113.0,116.0,111.0,107.0,102.0,NaN,NaN,NaN
1692,2021-03-29 11:00:00,57.06,11.19,137.40,9.28,19.09,107.0,113.0,116.0,111.0,109.0,102.0,NaN,NaN,NaN,NaN
1693,2021-03-29 12:00:00,52.85,16.52,153.18,9.35,20.81,102.0,116.0,111.0,109.0,107.0,NaN,NaN,NaN,NaN,NaN

In [13]:
actual_values=[aqi_list_test[-5:]]
print(actual_values)

[[116.0, 111.0, 109.0, 107.0, 102.0]]

In [14]:
dropnan=True
if dropnan:
	df2.dropna(inplace=True)

In [15]:
dropnan=True
if dropnan:
	df2_test.dropna(inplace=True)

In [16]:
df2_test.head(5)

,Datetime,PM2.5,NO2,NH3,CO,O3,AQI,AQI(t-4),AQI(t-3),AQI(t-2),AQI(t-1),AQI(t+1),AQI(t+2),AQI(t+3),AQI(t+4),AQI(t+5)
4,2021-01-17 14:00:00,32.67,11.52,133.01,1.37,21.31,65.0,90.0,87.0,77.0,69.0,56.0,44.0,36.0,32.0,34.0
5,2021-01-17 15:00:00,28.62,11.52,133.01,1.37,19.42,56.0,87.0,77.0,69.0,65.0,44.0,36.0,32.0,34.0,47.0
6,2021-01-17 16:00:00,22.43,11.52,133.01,1.37,24.42,44.0,77.0,69.0,65.0,56.0,36.0,32.0,34.0,47.0,49.0
7,2021-01-17 17:00:00,18.21,11.52,133.01,1.37,13.37,36.0,69.0,65.0,56.0,44.0,32.0,34.0,47.0,49.0,39.0
8,2021-01-17 18:00:00,16.47,11.52,133.01,1.37,17.24,32.0,65.0,56.0,44.0,36.0,34.0,47.0,49.0,39.0,38.0

In [17]:
df2_test.tail(5)

,Datetime,PM2.5,NO2,NH3,CO,O3,AQI,AQI(t-4),AQI(t-3),AQI(t-2),AQI(t-1),AQI(t+1),AQI(t+2),AQI(t+3),AQI(t+4),AQI(t+5)
1684,2021-02-18 03:00:00,55.23,16.12,109.64,10.42,24.26,105.0,67.0,64.0,53.0,45.0,104.0,106.0,108.0,113.0,116.0
1685,2021-03-29 04:00:00,53.73,10.42,136.99,10.75,29.88,104.0,64.0,53.0,45.0,105.0,106.0,108.0,113.0,116.0,111.0
1686,2021-03-29 05:00:00,56.22,7.70,42.67,11.32,29.79,106.0,53.0,45.0,105.0,104.0,108.0,113.0,116.0,111.0,109.0
1687,2021-03-29 06:00:00,58.25,6.72,19.33,10.10,27.94,108.0,45.0,105.0,104.0,106.0,113.0,116.0,111.0,109.0,107.0
1688,2021-03-29 07:00:00,65.47,7.52,115.45,11.29,27.77,113.0,105.0,104.0,106.0,108.0,116.0,111.0,109.0,107.0,102.0

In [27]:
X_train=np.array(df2[['PM2.5','NO2','NH3','CO','O3','AQI','AQI(t-4)','AQI(t-3)','AQI(t-2)','AQI(t-1)']])
y_train=np.array(df2[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

X_test=np.array(df2_test[['PM2.5','NO2','NH3','CO','O3','AQI','AQI(t-4)','AQI(t-3)','AQI(t-2)','AQI(t-1)']])
y_test=np.array(df2_test[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

In [28]:
from sklearn import linear_model
lin_reg = linear_model.LinearRegression() 
lin_reg.fit(X_train, y_train)

LinearRegression()

In [29]:
rows,cols=X_test.shape
y_pred=lin_reg.predict(X_test)
pred=y_pred[rows-1]
print('Forecasted AQI:')
print(pred)

Forecasted AQI:
[116.80783462 120.58230426 124.18357704 127.90888279 130.59031658]

In [30]:
from sklearn.metrics import mean_squared_error
from math import sqrt
rmse = sqrt(mean_squared_error(actual_values,[pred]))
print('RMSE:')
print(rmse)

RMSE:
17.762892474541093

In [48]:
#PM2.5 removed
X_train=np.array(df2[['NO2','NH3','CO','O3','AQI','AQI(t-4)','AQI(t-3)','AQI(t-2)','AQI(t-1)']])
y_train=np.array(df2[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

X_test=np.array(df2_test[['NO2','NH3','CO','O3','AQI','AQI(t-4)','AQI(t-3)','AQI(t-2)','AQI(t-1)']])
y_test=np.array(df2_test[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

from sklearn import linear_model
lin_reg = linear_model.LinearRegression() 
lin_reg.fit(X_train, y_train) 

rows,cols=X_test.shape
y_pred=lin_reg.predict(X_test)
pred=y_pred[rows-1]
print('Forecasted AQI:')
print(pred)

from sklearn.metrics import mean_squared_error
from math import sqrt
rmse = sqrt(mean_squared_error(actual_values,[pred]))
print('RMSE:')
print(rmse)

Forecasted AQI:
[115.26567359 117.64472085 119.87977952 122.30990823 123.88942873]
RMSE:
18.419319821221784

In [32]:
#NO2 removed
X_train=np.array(df2[['PM2.5','NH3','CO','O3','AQI','AQI(t-4)','AQI(t-3)','AQI(t-2)','AQI(t-1)']])
y_train=np.array(df2[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

X_test=np.array(df2_test[['PM2.5','NH3','CO','O3','AQI','AQI(t-4)','AQI(t-3)','AQI(t-2)','AQI(t-1)']])
y_test=np.array(df2_test[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

from sklearn import linear_model
lin_reg = linear_model.LinearRegression() 
lin_reg.fit(X_train, y_train) 

rows,cols=X_test.shape
y_pred=lin_reg.predict(X_test)
pred=y_pred[rows-1]
print('Forecasted AQI:')
print(pred)

from sklearn.metrics import mean_squared_error
from math import sqrt
rmse = sqrt(mean_squared_error(actual_values,[pred]))
print('RMSE:')
print(rmse)

Forecasted AQI:
[117.06889322 121.07839925 124.91217049 128.86146735 131.71828908]
RMSE:
18.53113215364165

In [52]:
#NH3 removed
X_train=np.array(df2[['PM2.5','NO2','CO','O3','AQI','AQI(t-4)','AQI(t-3)','AQI(t-2)','AQI(t-1)']])
y_train=np.array(df2[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

X_test=np.array(df2_test[['PM2.5','NO2','CO','O3','AQI','AQI(t-4)','AQI(t-3)','AQI(t-2)','AQI(t-1)']])
y_test=np.array(df2_test[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

from sklearn import linear_model
lin_reg = linear_model.LinearRegression() 
lin_reg.fit(X_train, y_train) 

rows,cols=X_test.shape
y_pred=lin_reg.predict(X_test)
pred=y_pred[rows-1]
print('Forecasted AQI:')
print(pred)

from sklearn.metrics import mean_squared_error
from math import sqrt
rmse = sqrt(mean_squared_error(actual_values,[pred]))
print('RMSE:')
print(rmse)

Forecasted AQI:
[116.73144799 120.42636844 123.9636274  127.63959505 130.26953889]
RMSE:
17.84791887952771

In [62]:
#CO removed
X_train=np.array(df2[['PM2.5','NO2','NH3','O3','AQI','AQI(t-4)','AQI(t-3)','AQI(t-2)','AQI(t-1)']])
y_train=np.array(df2[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

X_test=np.array(df2_test[['PM2.5','NO2','NH3','O3','AQI','AQI(t-4)','AQI(t-3)','AQI(t-2)','AQI(t-1)']])
y_test=np.array(df2_test[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

from sklearn import linear_model
lin_reg = linear_model.LinearRegression() 
lin_reg.fit(X_train, y_train) 

rows,cols=X_test.shape
y_pred=lin_reg.predict(X_test)
pred=y_pred[rows-1]
print('Forecasted AQI:')
print(pred)

from sklearn.metrics import mean_squared_error
from math import sqrt
rmse = sqrt(mean_squared_error(actual_values,[pred]))
print('RMSE:')
print(rmse)

Forecasted AQI:
[113.58330258 114.00087275 114.30684756 114.58246279 115.13842072]
RMSE:
17.980315030966143

In [35]:
#O3 removed
X_train=np.array(df2[['PM2.5','NO2','NH3','CO','AQI','AQI(t-4)','AQI(t-3)','AQI(t-2)','AQI(t-1)']])
y_train=np.array(df2[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

X_test=np.array(df2_test[['PM2.5','NO2','NH3','CO','AQI','AQI(t-4)','AQI(t-3)','AQI(t-2)','AQI(t-1)']])
y_test=np.array(df2_test[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

from sklearn import linear_model
lin_reg = linear_model.LinearRegression() 
lin_reg.fit(X_train, y_train) 

rows,cols=X_test.shape
y_pred=lin_reg.predict(X_test)
pred=y_pred[rows-1]
print('Forecasted AQI:')
print(pred)

from sklearn.metrics import mean_squared_error
from math import sqrt
rmse = sqrt(mean_squared_error(actual_values,[pred]))
print('RMSE:')
print(rmse)

Forecasted AQI:
[116.747452   120.48551752 124.06106438 127.76956906 130.43583038]
RMSE:
17.648460757412224

In [36]:
#AQI(t-4) removed
X_train=np.array(df2[['PM2.5','NO2','NH3','CO','O3','AQI','AQI(t-3)','AQI(t-2)','AQI(t-1)']])
y_train=np.array(df2[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

X_test=np.array(df2_test[['PM2.5','NO2','NH3','CO','O3','AQI','AQI(t-3)','AQI(t-2)','AQI(t-1)']])
y_test=np.array(df2_test[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

from sklearn import linear_model
lin_reg = linear_model.LinearRegression() 
lin_reg.fit(X_train, y_train) 

rows,cols=X_test.shape
y_pred=lin_reg.predict(X_test)
pred=y_pred[rows-1]
print('Forecasted AQI:')
print(pred)

from sklearn.metrics import mean_squared_error
from math import sqrt
rmse = sqrt(mean_squared_error(actual_values,[pred]))
print('RMSE:')
print(rmse)

Forecasted AQI:
[116.80754878 120.58093343 124.18064346 127.90470701 130.59913596]
RMSE:
17.7640969886654

In [65]:
#AQI(t-3) removed
X_train=np.array(df2[['PM2.5','NO2','NH3','CO','O3','AQI','AQI(t-2)','AQI(t-1)']])
y_train=np.array(df2[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

X_test=np.array(df2_test[['PM2.5','NO2','NH3','CO','O3','AQI','AQI(t-2)','AQI(t-1)']])
y_test=np.array(df2_test[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

from sklearn import linear_model
lin_reg = linear_model.LinearRegression() 
lin_reg.fit(X_train, y_train) 

rows,cols=X_test.shape
y_pred=lin_reg.predict(X_test)
pred=y_pred[rows-1]
print('Forecasted AQI:')
print(pred)


from sklearn.metrics import mean_squared_error
from math import sqrt
rmse = sqrt(mean_squared_error(actual_values,[pred]))
print('RMSE:')
print(rmse)

Forecasted AQI:
[116.76505427 120.52861467 124.08297751 127.74171466 130.38489201]
RMSE:
17.87126910001612

In [64]:
#AQI(t-2) removed
X_train=np.array(df2[['PM2.5','NO2','NH3','CO','O3','AQI','AQI(t-1)']])
y_train=np.array(df2[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

X_test=np.array(df2_test[['PM2.5','NO2','NH3','CO','O3','AQI','AQI(t-1)']])
y_test=np.array(df2_test[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

from sklearn import linear_model
lin_reg = linear_model.LinearRegression() 
lin_reg.fit(X_train, y_train) 

rows,cols=X_test.shape
y_pred=lin_reg.predict(X_test)
pred=y_pred[rows-1]
print('Forecasted AQI:')
print(pred)

from sklearn.metrics import mean_squared_error
from math import sqrt
rmse = sqrt(mean_squared_error(actual_values,[pred]))
print('RMSE:')
print(rmse)

Forecasted AQI:
[116.72179027 120.46842227 124.02205787 127.66424535 130.28139198]
RMSE:
17.802000345165947

In [39]:
#AQI(t-1) removed
X_train=np.array(df2[['PM2.5','NO2','NH3','CO','O3','AQI']])
y_train=np.array(df2[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

X_test=np.array(df2_test[['PM2.5','NO2','NH3','CO','O3','AQI']])
y_test=np.array(df2_test[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

from sklearn import linear_model
lin_reg = linear_model.LinearRegression() 
lin_reg.fit(X_train, y_train) 

rows,cols=X_test.shape
y_pred=lin_reg.predict(X_test)
pred=y_pred[rows-1]
print('Forecasted AQI:')
print(pred)

from sklearn.metrics import mean_squared_error
from math import sqrt
rmse = sqrt(mean_squared_error(actual_values,[pred]))
print('RMSE:')
print(rmse)

Forecasted AQI:
[117.44972514 121.48799558 125.00215355 128.38528153 130.98408614]
RMSE:
18.251444811706232

In [40]:
#AQI removed
X_train=np.array(df2[['PM2.5','NO2','NH3','CO','O3']])
y_train=np.array(df2[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

X_test=np.array(df2_test[['PM2.5','NO2','NH3','CO','O3']])
y_test=np.array(df2_test[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

from sklearn import linear_model
lin_reg = linear_model.LinearRegression() 
lin_reg.fit(X_train, y_train) 

rows,cols=X_test.shape
y_pred=lin_reg.predict(X_test)
pred=y_pred[rows-1]
print('Forecasted AQI:')
print(pred)

from sklearn.metrics import mean_squared_error
from math import sqrt
rmse = sqrt(mean_squared_error(actual_values,[pred]))
print('RMSE:')
print(rmse)

Forecasted AQI:
[190.38886872 190.75192403 190.62930337 190.49972731 189.7384922 ]
RMSE:
81.52013716554966