In [61]:
from pandas import concat,DataFrame
import numpy as np 
import pandas as pd

In [62]:
df = pd.read_csv("city_hour.csv")
df=df[df['City']=='Chennai']
df.drop(columns=['City','NOx','PM10','SO2','NO','AQI_Bucket','Benzene','Toluene','Xylene'],axis=1,inplace=True)
df.head(5)

                   Datetime  PM2.5    NO2   NH3    CO     O3  AQI
187751  2015-01-01 01:00:00    NaN  47.97  6.36  0.92   7.65  NaN
187752  2015-01-01 02:00:00    NaN  12.31  4.93  0.77  10.96  NaN
187753  2015-01-01 03:00:00    NaN  13.72  3.92  1.06  12.14  NaN
187754  2015-01-01 04:00:00    NaN  14.45  4.54  1.54  11.95  NaN
187755  2015-01-01 05:00:00    NaN  20.16  4.85  1.03  11.64  NaN

In [63]:
df.interpolate(limit_direction="both",inplace=True)
df.head(5)

                   Datetime  PM2.5    NO2   NH3    CO     O3    AQI
187751  2015-01-01 01:00:00  428.3  47.97  6.36  0.92   7.65  333.0
187752  2015-01-01 02:00:00  428.3  12.31  4.93  0.77  10.96  333.0
187753  2015-01-01 03:00:00  428.3  13.72  3.92  1.06  12.14  333.0
187754  2015-01-01 04:00:00  428.3  14.45  4.54  1.54  11.95  333.0
187755  2015-01-01 05:00:00  428.3  20.16  4.85  1.03  11.64  333.0

In [64]:
df_train=pd.read_csv("Sensor_Training_Data.csv") 
df_train.interpolate(limit_direction="both",inplace=True)
df_train.head(5)

              Datetime  PM2.5    NO2     NH3    CO     O3   AQI
0  2021-01-17 10:00:00  45.31  11.52  133.01  1.37   3.04  90.0
1  2021-01-17 11:00:00  44.60  11.52  133.01  1.37   7.21  87.0
2  2021-01-17 12:00:00  39.12  11.52  133.01  1.37  14.03  77.0
3  2021-01-17 13:00:00  35.20  11.52  133.01  1.37  20.43  69.0
4  2021-01-17 14:00:00  32.67  11.52  133.01  1.37  21.31  65.0

In [65]:
df=df.append(df_train)
print(len(df))

48961

In [66]:
df_test= pd.read_csv("Sensor_Testing_Data.csv") 
df_test.interpolate(limit_direction="both",inplace=True)
df_test.head(5)
print(len(df_test))

925

In [67]:
aqi_list=df['AQI'].to_list()
aqi_list_test=df_test['AQI'].to_list()

In [68]:
def series_to_supervised(data, n_in, n_out):
	n_vars = 1 if type(data) is list else data.shape[1]
	df = DataFrame(data)
	cols, names = list(), list()
	# input sequence (t-n, ... t-1)
	for i in range(n_in, 0, -1):
		cols.append(df.shift(i))
		names += [('AQI(t-%d)' % (i)) for j in range(n_vars)]
	# forecast sequence (t, t+1, ... t+n)
	for i in range(1, n_out):
		cols.append(df.shift(-i))
		names += [('AQI(t+%d)' % (i)) for j in range(n_vars)]
	# put it all together
	agg = concat(cols, axis=1)
	agg.columns = names
	return agg

df1= series_to_supervised(aqi_list, 4, 6)
print(df1)

df1_test= series_to_supervised(aqi_list_test, 4, 6)
print(df1_test)

       AQI(t-4)  AQI(t-3)  AQI(t-2)  AQI(t-1)  AQI(t+1)  AQI(t+2)  AQI(t+3)  \
0           NaN       NaN       NaN       NaN     333.0     333.0     333.0
1           NaN       NaN       NaN     333.0     333.0     333.0     333.0
2           NaN       NaN     333.0     333.0     333.0     333.0     333.0
3           NaN     333.0     333.0     333.0     333.0     333.0     333.0
4         333.0     333.0     333.0     333.0     333.0     333.0     333.0
5         333.0     333.0     333.0     333.0     333.0     333.0     333.0
6         333.0     333.0     333.0     333.0     333.0     333.0     333.0
7         333.0     333.0     333.0     333.0     333.0     333.0     333.0
8         333.0     333.0     333.0     333.0     333.0     333.0     333.0
9         333.0     333.0     333.0     333.0     333.0     333.0     333.0
10        333.0     333.0     333.0     333.0     333.0     333.0     333.0
11        333.0     333.0     333.0     333.0     333.0     333.0     333.0
12        333.0     333.0     333.0     333.0     333.0     333.0     333.0
13        333.0     333.0     333.0     333.0     333.0     333.0     333.0
14        333.0     333.0     333.0     333.0     333.0     333.0     333.0
15        333.0     333.0     333.0     333.0     333.0     333.0     333.0
16        333.0     333.0     333.0     333.0     333.0     333.0     333.0
17        333.0     333.0     333.0     333.0     333.0     333.0     333.0
18        333.0     333.0     333.0     333.0     333.0     333.0     333.0
19        333.0     333.0     333.0     333.0     333.0     333.0     333.0
20        333.0     333.0     333.0     333.0     333.0     333.0     333.0
21        333.0     333.0     333.0     333.0     333.0     333.0     333.0
22        333.0     333.0     333.0     333.0     333.0     333.0     333.0
23        333.0     333.0     333.0     333.0     333.0     333.0     333.0
24        333.0     333.0     333.0     333.0     333.0     333.0     333.0
25        333.0     333.0     333.0     333.0     333.0     333.0     333.0
26        333.0     333.0     333.0     333.0     333.0     333.0     333.0
27        333.0     333.0     333.0     333.0     333.0     333.0     333.0
28        333.0     333.0     333.0     333.0     333.0     333.0     333.0
29        333.0     333.0     333.0     333.0     333.0     333.0     333.0
...         ...       ...       ...       ...       ...       ...       ...
48931      96.0      90.0      84.0      81.0      82.0      47.0     109.0
48932      90.0      84.0      81.0      79.0      47.0     109.0     122.0
48933      84.0      81.0      79.0      82.0     109.0     122.0     121.0
48934      81.0      79.0      82.0      47.0     122.0     121.0     111.0
48935      79.0      82.0      47.0     109.0     121.0     111.0     100.0
48936      82.0      47.0     109.0     122.0     111.0     100.0      91.0
48937      47.0     109.0     122.0     121.0     100.0      91.0      86.0
48938     109.0     122.0     121.0     111.0      91.0      86.0      85.0
48939     122.0     121.0     111.0     100.0      86.0      85.0      75.0
48940     121.0     111.0     100.0      91.0      85.0      75.0      70.0
48941     111.0     100.0      91.0      86.0      75.0      70.0      85.0
48942     100.0      91.0      86.0      85.0      70.0      85.0      87.0
48943      91.0      86.0      85.0      75.0      85.0      87.0      94.0
48944      86.0      85.0      75.0      70.0      87.0      94.0      98.0
48945      85.0      75.0      70.0      85.0      94.0      98.0      96.0
48946      75.0      70.0      85.0      87.0      98.0      96.0      95.0
48947      70.0      85.0      87.0      94.0      96.0      95.0      92.0
48948      85.0      87.0      94.0      98.0      95.0      92.0      84.0
48949      87.0      94.0      98.0      96.0      92.0      84.0      77.0
48950      94.0      98.0      96.0      95.0      84.0      77.0      75.0
48951      98.0      96.0      95.0      92.0      77.0      75.0      76.0
48952      96.0      95.0      92.0      84.0      75.0      76.0      78.0
48953      95.0      92.0      84.0      77.0      76.0      78.0      77.0
48954      92.0      84.0      77.0      75.0      78.0      77.0      75.0
48955      84.0      77.0      75.0      76.0      77.0      75.0      77.0
48956      77.0      75.0      76.0      78.0      75.0      77.0      93.0
48957      75.0      76.0      78.0      77.0      77.0      93.0     105.0
48958      76.0      78.0      77.0      75.0      93.0     105.0       NaN
48959      78.0      77.0      75.0      77.0     105.0       NaN       NaN
48960      77.0      75.0      77.0      93.0       NaN       NaN       NaN

       AQI(t+4)  AQI(t+5)
0         333.0     333.0
1         333.0     333.0
2         333.0     333.0
3         333.0     333.0
4         333.0     333.0
5         333.0     333.0
6         333.0     333.0
7         333.0     333.0
8         333.0     333.0
9         333.0     333.0
10        333.0     333.0
11        333.0     333.0
12        333.0     333.0
13        333.0     333.0
14        333.0     333.0
15        333.0     333.0
16        333.0     333.0
17        333.0     333.0
18        333.0     333.0
19        333.0     333.0
20        333.0     333.0
21        333.0     333.0
22        333.0     333.0
23        333.0     333.0
24        333.0     333.0
25        333.0     333.0
26        333.0     333.0
27        333.0     333.0
28        333.0     333.0
29        333.0     333.0
...         ...       ...
48931     122.0     121.0
48932     121.0     111.0
48933     111.0     100.0
48934     100.0      91.0
48935      91.0      86.0
48936      86.0      85.0
48937      85.0      75.0
48938      75.0      70.0
48939      70.0      85.0
48940      85.0      87.0
48941      87.0      94.0
48942      94.0      98.0
48943      98.0      96.0
48944      96.0      95.0
48945      95.0      92.0
48946      92.0      84.0
48947      84.0      77.0
48948      77.0      75.0
48949      75.0      76.0
48950      76.0      78.0
48951      78.0      77.0
48952      77.0      75.0
48953      75.0      77.0
48954      77.0      93.0
48955      93.0     105.0
48956     105.0       NaN
48957       NaN       NaN
48958       NaN       NaN
48959       NaN       NaN
48960       NaN       NaN

[48961 rows x 9 columns]
     AQI(t-4)  AQI(t-3)  AQI(t-2)  AQI(t-1)  AQI(t+1)  AQI(t+2)  AQI(t+3)  \
0         NaN       NaN       NaN       NaN      77.0      75.0      74.0
1         NaN       NaN       NaN      78.0      75.0      74.0      72.0
2         NaN       NaN      78.0      77.0      74.0      72.0      70.0
3         NaN      78.0      77.0      75.0      72.0      70.0      70.0
4        78.0      77.0      75.0      74.0      70.0      70.0      69.0
5        77.0      75.0      74.0      72.0      70.0      69.0      68.0
6        75.0      74.0      72.0      70.0      69.0      68.0      67.0
7        74.0      72.0      70.0      70.0      68.0      67.0      66.0
8        72.0      70.0      70.0      69.0      67.0      66.0      64.0
9        70.0      70.0      69.0      68.0      66.0      64.0      64.0
10       70.0      69.0      68.0      67.0      64.0      64.0      63.0
11       69.0      68.0      67.0      66.0      64.0      63.0      59.0
12       68.0      67.0      66.0      64.0      63.0      59.0      57.0
13       67.0      66.0      64.0      64.0      59.0      57.0      61.0
14       66.0      64.0      64.0      63.0      57.0      61.0      63.0
15       64.0      64.0      63.0      59.0      61.0      63.0      64.0
16       64.0      63.0      59.0      57.0      63.0      64.0      64.0
17       63.0      59.0      57.0      61.0      64.0      64.0      63.0
18       59.0      57.0      61.0      63.0      64.0      63.0      64.0
19       57.0      61.0      63.0      64.0      63.0      64.0      65.0
20       61.0      63.0      64.0      64.0      64.0      65.0      65.0
21       63.0      64.0      64.0      63.0      65.0      65.0      64.0
22       64.0      64.0      63.0      64.0      65.0      64.0      64.0
23       64.0      63.0      64.0      65.0      64.0      64.0      63.0
24       63.0      64.0      65.0      65.0      64.0      63.0      64.0
25       64.0      65.0      65.0      64.0      63.0      64.0      65.0
26       65.0      65.0      64.0      64.0      64.0      65.0      64.0
27       65.0      64.0      64.0      63.0      65.0      64.0      65.0
28       64.0      64.0      63.0      64.0      64.0      65.0      62.0
29       64.0      63.0      64.0      65.0      65.0      62.0      62.0
..        ...       ...       ...       ...       ...       ...       ...
895      60.0      59.0      60.0      61.0      65.0      59.0      60.0
896      59.0      60.0      61.0      59.0      59.0      60.0      63.0
897      60.0      61.0      59.0      65.0      60.0      63.0      64.0
898      61.0      59.0      65.0      59.0      63.0      64.0      67.0
899      59.0      65.0      59.0      60.0      64.0      67.0      74.0
900      65.0      59.0      60.0      63.0      67.0      74.0      84.0
901      59.0      60.0      63.0      64.0      74.0      84.0      93.0
902      60.0      63.0      64.0      67.0      84.0      93.0      86.0
903      63.0      64.0      67.0      74.0      93.0      86.0      74.0
904      64.0      67.0      74.0      84.0      86.0      74.0      70.0
905      67.0      74.0      84.0      93.0      74.0      70.0      66.0
906      74.0      84.0      93.0      86.0      70.0      66.0      62.0
907      84.0      93.0      86.0      74.0      66.0      62.0      63.0
908      93.0      86.0      74.0      70.0      62.0      63.0      67.0
909      86.0      74.0      70.0      66.0      63.0      67.0      64.0
910      74.0      70.0      66.0      62.0      67.0      64.0      53.0
911      70.0      66.0      62.0      63.0      64.0      53.0      45.0
912      66.0      62.0      63.0      67.0      53.0      45.0     105.0
913      62.0      63.0      67.0      64.0      45.0     105.0     104.0
914      63.0      67.0      64.0      53.0     105.0     104.0     106.0
915      67.0      64.0      53.0      45.0     104.0     106.0     108.0
916      64.0      53.0      45.0     105.0     106.0     108.0     113.0
917      53.0      45.0     105.0     104.0     108.0     113.0     116.0
918      45.0     105.0     104.0     106.0     113.0     116.0     111.0
919     105.0     104.0     106.0     108.0     116.0     111.0     109.0
920     104.0     106.0     108.0     113.0     111.0     109.0     107.0
921     106.0     108.0     113.0     116.0     109.0     107.0     102.0
922     108.0     113.0     116.0     111.0     107.0     102.0       NaN
923     113.0     116.0     111.0     109.0     102.0       NaN       NaN
924     116.0     111.0     109.0     107.0       NaN       NaN       NaN

     AQI(t+4)  AQI(t+5)
0        72.0      70.0
1        70.0      70.0
2        70.0      69.0
3        69.0      68.0
4        68.0      67.0
5        67.0      66.0
6        66.0      64.0
7        64.0      64.0
8        64.0      63.0
9        63.0      59.0
10       59.0      57.0
11       57.0      61.0
12       61.0      63.0
13       63.0      64.0
14       64.0      64.0
15       64.0      63.0
16       63.0      64.0
17       64.0      65.0
18       65.0      65.0
19       65.0      64.0
20       64.0      64.0
21       64.0      63.0
22       63.0      64.0
23       64.0      65.0
24       65.0      64.0
25       64.0      65.0
26       65.0      62.0
27       62.0      62.0
28       62.0      62.0
29       62.0      62.0
..        ...       ...
895      63.0      64.0
896      64.0      67.0
897      67.0      74.0
898      74.0      84.0
899      84.0      93.0
900      93.0      86.0
901      86.0      74.0
902      74.0      70.0
903      70.0      66.0
904      66.0      62.0
905      62.0      63.0
906      63.0      67.0
907      67.0      64.0
908      64.0      53.0
909      53.0      45.0
910      45.0     105.0
911     105.0     104.0
912     104.0     106.0
913     106.0     108.0
914     108.0     113.0
915     113.0     116.0
916     116.0     111.0
917     111.0     109.0
918     109.0     107.0
919     107.0     102.0
920     102.0       NaN
921       NaN       NaN
922       NaN       NaN
923       NaN       NaN
924       NaN       NaN

[925 rows x 9 columns]

In [69]:
df2 = pd.concat([df.reset_index(drop=True),df1.reset_index(drop=True)], axis=1)
print(df2)

                  Datetime   PM2.5    NO2     NH3     CO     O3    AQI  \
0      2015-01-01 01:00:00  428.30  47.97    6.36   0.92   7.65  333.0
1      2015-01-01 02:00:00  428.30  12.31    4.93   0.77  10.96  333.0
2      2015-01-01 03:00:00  428.30  13.72    3.92   1.06  12.14  333.0
3      2015-01-01 04:00:00  428.30  14.45    4.54   1.54  11.95  333.0
4      2015-01-01 05:00:00  428.30  20.16    4.85   1.03  11.64  333.0
5      2015-01-01 06:00:00  428.30   8.69    5.17   1.10  11.31  333.0
6      2015-01-01 07:00:00  428.30  19.66    6.02   1.29  12.90  333.0
7      2015-01-01 08:00:00  428.30  22.23    8.41   1.29  13.32  333.0
8      2015-01-01 09:00:00  428.30  20.16    4.58   1.30  12.66  333.0
9      2015-01-01 10:00:00  428.30   6.89    4.26   1.08  11.49  333.0
10     2015-01-01 11:00:00  428.30  15.82    3.93   1.18  12.22  333.0
11     2015-01-01 12:00:00  428.30  35.29    4.00   1.60  10.02  333.0
12     2015-01-01 13:00:00  428.30   9.62    3.91   1.50  10.04  333.0
13     2015-01-01 14:00:00  428.30   9.90    3.72   1.07   9.72  333.0
14     2015-01-01 15:00:00  428.30   9.37    3.75   0.90  11.32  333.0
15     2015-01-01 16:00:00  428.30  11.37    4.55   0.92  10.42  333.0
16     2015-01-01 17:00:00  428.30  11.96    3.03   1.18   9.07  333.0
17     2015-01-01 18:00:00  428.30  11.79    4.24   1.19  11.20  333.0
18     2015-01-01 19:00:00  428.30  11.54    3.96   1.44  11.17  333.0
19     2015-01-01 20:00:00  428.30  10.07    4.17   1.27  13.43  333.0
20     2015-01-01 21:00:00  428.30   9.32    4.33   1.16  14.06  333.0
21     2015-01-01 22:00:00  428.30   7.94    4.20   1.07  11.69  333.0
22     2015-01-01 23:00:00  428.30  13.79    4.68   1.08  10.76  333.0
23     2015-01-02 00:00:00  428.30  43.17    5.48   1.11  11.66  333.0
24     2015-01-02 01:00:00  428.30  13.33    5.64   0.86  13.18  333.0
25     2015-01-02 02:00:00  428.30  14.08    7.74   0.91  11.52  333.0
26     2015-01-02 03:00:00  428.30  17.17   10.51   0.82  11.90  333.0
27     2015-01-02 04:00:00  428.30  17.82   10.28   0.97  12.03  333.0
28     2015-01-02 05:00:00  428.30  16.37    9.65   1.16  11.23  333.0
29     2015-01-02 06:00:00  428.30  15.27   21.13   1.63   9.76  333.0
...                    ...     ...    ...     ...    ...    ...    ...
48931  2021-02-17 05:00:00   39.13   5.96  154.35   0.30   3.50   79.0
48932  2021-02-17 06:00:00   41.57  14.96  131.56   1.38   3.06   82.0
48933  2021-02-17 07:00:00   94.61  17.84   54.59   1.55   3.99   47.0
48934  2021-02-17 08:00:00   60.68  12.79   30.29   1.23   3.26  109.0
48935  2021-02-17 09:00:00   72.34   7.77  133.22   1.14   3.57  122.0
48936  2021-02-17 10:00:00   71.02   7.13  101.99   1.06   3.06  121.0
48937  2021-02-17 11:00:00   61.03   6.15  110.08   0.07  13.26  111.0
48938  2021-02-17 12:00:00   51.42   5.22  121.32   0.57  18.91  100.0
48939  2021-02-17 13:00:00   45.93   7.20  134.02  10.07  15.15   91.0
48940  2021-02-17 14:00:00   43.99   8.23  111.73   9.93  16.04   86.0
48941  2021-02-17 15:00:00   43.71   7.32   56.31  11.09  14.64   85.0
48942  2021-02-17 16:00:00   38.61   9.62  148.23   9.56  18.60   75.0
48943  2021-02-17 17:00:00   33.31   8.32   56.77   9.66  22.43   70.0
48944  2021-02-17 18:00:00   42.29   8.72   50.33   9.63  15.67   85.0
48945  2021-02-17 19:00:00   43.69   9.08  184.44  13.54  11.91   87.0
48946  2021-02-17 20:00:00   47.64   9.97   85.28   9.42   6.06   94.0
48947  2021-02-17 21:00:00   49.08   8.83  171.86   9.25   4.69   98.0
48948  2021-02-17 22:00:00   48.93   7.61  141.62   9.44   3.92   96.0
48949  2021-02-17 23:00:00   47.71   7.92  166.81   9.41   3.21   95.0
48950  2021-02-18 00:00:00   46.26   7.54  172.34   9.60   3.93   92.0
48951  2021-02-18 01:00:00   42.11   8.55  179.63   9.64   3.62   84.0
48952  2021-02-18 02:00:00   38.31   8.09  155.40   9.53   3.59   77.0
48953  2021-02-18 03:00:00   37.30  11.06  101.15   9.47   3.86   75.0
48954  2021-02-18 04:00:00   38.74   8.65  162.33   9.86   3.50   76.0
48955  2021-02-18 05:00:00   39.96  12.18  123.91  10.03   3.13   78.0
48956  2021-02-18 06:00:00   39.20  13.30   82.52   9.61   3.99   77.0
48957  2021-02-18 07:00:00   37.61  20.38  125.47   9.45   3.05   75.0
48958  2021-02-18 08:00:00   38.06  20.14   56.53   9.55   3.19   77.0
48959  2021-02-18 09:00:00   48.21  18.54   40.22   9.36   8.38   93.0
48960  2021-02-18 10:00:00   56.79  12.92  148.62   9.85  16.89  105.0

       AQI(t-4)  AQI(t-3)  AQI(t-2)  AQI(t-1)  AQI(t+1)  AQI(t+2)  AQI(t+3)  \
0           NaN       NaN       NaN       NaN     333.0     333.0     333.0
1           NaN       NaN       NaN     333.0     333.0     333.0     333.0
2           NaN       NaN     333.0     333.0     333.0     333.0     333.0
3           NaN     333.0     333.0     333.0     333.0     333.0     333.0
4         333.0     333.0     333.0     333.0     333.0     333.0     333.0
5         333.0     333.0     333.0     333.0     333.0     333.0     333.0
6         333.0     333.0     333.0     333.0     333.0     333.0     333.0
7         333.0     333.0     333.0     333.0     333.0     333.0     333.0
8         333.0     333.0     333.0     333.0     333.0     333.0     333.0
9         333.0     333.0     333.0     333.0     333.0     333.0     333.0
10        333.0     333.0     333.0     333.0     333.0     333.0     333.0
11        333.0     333.0     333.0     333.0     333.0     333.0     333.0
12        333.0     333.0     333.0     333.0     333.0     333.0     333.0
13        333.0     333.0     333.0     333.0     333.0     333.0     333.0
14        333.0     333.0     333.0     333.0     333.0     333.0     333.0
15        333.0     333.0     333.0     333.0     333.0     333.0     333.0
16        333.0     333.0     333.0     333.0     333.0     333.0     333.0
17        333.0     333.0     333.0     333.0     333.0     333.0     333.0
18        333.0     333.0     333.0     333.0     333.0     333.0     333.0
19        333.0     333.0     333.0     333.0     333.0     333.0     333.0
20        333.0     333.0     333.0     333.0     333.0     333.0     333.0
21        333.0     333.0     333.0     333.0     333.0     333.0     333.0
22        333.0     333.0     333.0     333.0     333.0     333.0     333.0
23        333.0     333.0     333.0     333.0     333.0     333.0     333.0
24        333.0     333.0     333.0     333.0     333.0     333.0     333.0
25        333.0     333.0     333.0     333.0     333.0     333.0     333.0
26        333.0     333.0     333.0     333.0     333.0     333.0     333.0
27        333.0     333.0     333.0     333.0     333.0     333.0     333.0
28        333.0     333.0     333.0     333.0     333.0     333.0     333.0
29        333.0     333.0     333.0     333.0     333.0     333.0     333.0
...         ...       ...       ...       ...       ...       ...       ...
48931      96.0      90.0      84.0      81.0      82.0      47.0     109.0
48932      90.0      84.0      81.0      79.0      47.0     109.0     122.0
48933      84.0      81.0      79.0      82.0     109.0     122.0     121.0
48934      81.0      79.0      82.0      47.0     122.0     121.0     111.0
48935      79.0      82.0      47.0     109.0     121.0     111.0     100.0
48936      82.0      47.0     109.0     122.0     111.0     100.0      91.0
48937      47.0     109.0     122.0     121.0     100.0      91.0      86.0
48938     109.0     122.0     121.0     111.0      91.0      86.0      85.0
48939     122.0     121.0     111.0     100.0      86.0      85.0      75.0
48940     121.0     111.0     100.0      91.0      85.0      75.0      70.0
48941     111.0     100.0      91.0      86.0      75.0      70.0      85.0
48942     100.0      91.0      86.0      85.0      70.0      85.0      87.0
48943      91.0      86.0      85.0      75.0      85.0      87.0      94.0
48944      86.0      85.0      75.0      70.0      87.0      94.0      98.0
48945      85.0      75.0      70.0      85.0      94.0      98.0      96.0
48946      75.0      70.0      85.0      87.0      98.0      96.0      95.0
48947      70.0      85.0      87.0      94.0      96.0      95.0      92.0
48948      85.0      87.0      94.0      98.0      95.0      92.0      84.0
48949      87.0      94.0      98.0      96.0      92.0      84.0      77.0
48950      94.0      98.0      96.0      95.0      84.0      77.0      75.0
48951      98.0      96.0      95.0      92.0      77.0      75.0      76.0
48952      96.0      95.0      92.0      84.0      75.0      76.0      78.0
48953      95.0      92.0      84.0      77.0      76.0      78.0      77.0
48954      92.0      84.0      77.0      75.0      78.0      77.0      75.0
48955      84.0      77.0      75.0      76.0      77.0      75.0      77.0
48956      77.0      75.0      76.0      78.0      75.0      77.0      93.0
48957      75.0      76.0      78.0      77.0      77.0      93.0     105.0
48958      76.0      78.0      77.0      75.0      93.0     105.0       NaN
48959      78.0      77.0      75.0      77.0     105.0       NaN       NaN
48960      77.0      75.0      77.0      93.0       NaN       NaN       NaN

       AQI(t+4)  AQI(t+5)
0         333.0     333.0
1         333.0     333.0
2         333.0     333.0
3         333.0     333.0
4         333.0     333.0
5         333.0     333.0
6         333.0     333.0
7         333.0     333.0
8         333.0     333.0
9         333.0     333.0
10        333.0     333.0
11        333.0     333.0
12        333.0     333.0
13        333.0     333.0
14        333.0     333.0
15        333.0     333.0
16        333.0     333.0
17        333.0     333.0
18        333.0     333.0
19        333.0     333.0
20        333.0     333.0
21        333.0     333.0
22        333.0     333.0
23        333.0     333.0
24        333.0     333.0
25        333.0     333.0
26        333.0     333.0
27        333.0     333.0
28        333.0     333.0
29        333.0     333.0
...         ...       ...
48931     122.0     121.0
48932     121.0     111.0
48933     111.0     100.0
48934     100.0      91.0
48935      91.0      86.0
48936      86.0      85.0
48937      85.0      75.0
48938      75.0      70.0
48939      70.0      85.0
48940      85.0      87.0
48941      87.0      94.0
48942      94.0      98.0
48943      98.0      96.0
48944      96.0      95.0
48945      95.0      92.0
48946      92.0      84.0
48947      84.0      77.0
48948      77.0      75.0
48949      75.0      76.0
48950      76.0      78.0
48951      78.0      77.0
48952      77.0      75.0
48953      75.0      77.0
48954      77.0      93.0
48955      93.0     105.0
48956     105.0       NaN
48957       NaN       NaN
48958       NaN       NaN
48959       NaN       NaN
48960       NaN       NaN

[48961 rows x 16 columns]

In [70]:
df2_test = pd.concat([df_test.reset_index(drop=True),df1_test.reset_index(drop=True)], axis=1)
print(df2_test)

                Datetime   PM2.5     NO2     NH3     CO     O3    AQI  \
0    2021-02-19 00:00:00   35.21    8.61  137.89   9.57  38.16   78.0
1    2021-02-19 01:00:00   31.40   12.18  168.83   9.60  37.40   77.0
2    2021-02-19 02:00:00   22.44    5.89  213.37   9.51  35.97   75.0
3    2021-02-19 03:00:00   18.30    5.18   89.84  10.68  37.31   74.0
4    2021-02-19 04:00:00   16.87    8.84   96.17   9.48  34.77   72.0
5    2021-02-19 05:00:00   19.78    5.13   60.00   9.48  29.37   70.0
6    2021-02-19 06:00:00   35.17    6.42   21.67   9.50  50.77   70.0
7    2021-02-19 07:00:00   34.90   22.74   79.46   9.54  47.24   69.0
8    2021-02-19 08:00:00   25.63   23.20  144.13   9.55  44.28   68.0
9    2021-02-19 09:00:00   21.42   24.13  109.80   9.63  39.42   67.0
10   2021-02-19 10:00:00   20.38   19.93   98.69  13.80  35.54   66.0
11   2021-02-19 11:00:00   19.72   19.62   22.85  13.84  33.68   64.0
12   2021-02-19 12:00:00   23.02   19.68   13.62   9.72  35.20   64.0
13   2021-02-19 13:00:00   23.23   23.05   20.16   9.72  38.70   63.0
14   2021-02-19 14:00:00   27.01   19.58   14.48   9.59  35.39   59.0
15   2021-02-19 15:00:00   22.12   18.69   19.26  10.82  36.98   57.0
16   2021-02-19 16:00:00   50.08   16.08   24.03   9.84  29.75   61.0
17   2021-02-19 17:00:00  111.01   18.53   85.95   9.95  32.91   63.0
18   2021-02-19 18:00:00   59.36   17.65   15.72   9.62  25.71   64.0
19   2021-02-19 19:00:00   33.47   20.44   64.08   9.26  23.04   64.0
20   2021-02-19 20:00:00   22.27   29.55  166.93   9.25  27.40   63.0
21   2021-02-19 21:00:00   21.76   26.84  176.40   9.17  33.44   64.0
22   2021-02-19 22:00:00   33.36   23.96  112.98   9.35  40.13   65.0
23   2021-02-19 23:00:00   31.16   24.42   98.39   9.27  44.10   65.0
24   2021-02-20 00:00:00   23.54   14.76  101.75   9.58  42.54   64.0
25   2021-02-20 01:00:00   17.29   21.06  178.46   9.57  42.55   64.0
26   2021-02-20 02:00:00   13.56   20.75  177.11   9.48  41.29   63.0
27   2021-02-20 03:00:00   15.31   18.85  111.78   9.50  38.88   64.0
28   2021-02-20 04:00:00   31.60   15.10   13.30   9.58  39.23   65.0
29   2021-02-20 05:00:00   30.78   21.02   17.83   9.53  32.09   64.0
..                   ...     ...     ...     ...    ...    ...    ...
895  2021-03-28 07:00:00   22.14   17.82    9.03   1.07   0.49   59.0
896  2021-03-28 08:00:00   22.80    9.89    9.68   0.77   3.24   65.0
897  2021-03-28 09:00:00   22.73   14.42    9.69   0.70   0.52   59.0
898  2021-03-28 10:00:00   24.79   15.98   10.00   0.98   2.16   60.0
899  2021-03-28 11:00:00   22.66   14.65   10.00   1.01   1.69   63.0
900  2021-03-28 12:00:00   28.53   16.50   10.00   1.46   1.93   64.0
901  2021-03-28 13:00:00   29.93   16.22   10.00   1.21   0.99   67.0
902  2021-03-28 14:00:00   35.88   15.18   20.66   0.93   2.98   74.0
903  2021-03-28 15:00:00   38.85   68.77   10.00   0.94   0.29   84.0
904  2021-03-28 16:00:00   35.24  112.37   10.00   1.55   6.98   93.0
905  2021-03-28 17:00:00   31.28  154.44   10.00   1.42   0.78   86.0
906  2021-03-28 18:00:00   27.30   79.31   10.00   1.20   3.88   74.0
907  2021-03-28 19:00:00   25.42   46.13   10.00   0.95   0.68   70.0
908  2021-03-28 20:00:00   23.95   72.35   10.00   1.58   4.33   66.0
909  2021-03-28 21:00:00   23.08   27.44    9.80   1.49   0.30   62.0
910  2021-03-28 22:00:00   29.51   12.24    9.76   1.33   5.12   63.0
911  2021-03-28 23:00:00   25.59   17.43   10.00   1.15   0.12   67.0
912  2021-03-29 00:00:00   17.98   51.65   10.00   1.24   4.61   64.0
913  2021-03-29 01:00:00   14.21   16.10   10.00   1.51   0.29   53.0
914  2021-03-29 02:00:00   16.38   22.33   10.00   1.17   2.28   45.0
915  2021-02-18 03:00:00   55.23   16.12  109.64  10.42  24.26  105.0
916  2021-03-29 04:00:00   53.73   10.42  136.99  10.75  29.88  104.0
917  2021-03-29 05:00:00   56.22    7.70   42.67  11.32  29.79  106.0
918  2021-03-29 06:00:00   58.25    6.72   19.33  10.10  27.94  108.0
919  2021-03-29 07:00:00   65.47    7.52  115.45  11.29  27.77  113.0
920  2021-03-29 08:00:00   66.87    7.95   58.00   9.85  28.78  116.0
921  2021-03-29 09:00:00   61.34    6.60   94.02   9.81  25.64  111.0
922  2021-03-29 10:00:00   59.09    7.05   32.10   9.64  23.94  109.0
923  2021-03-29 11:00:00   57.06   11.19  137.40   9.28  19.09  107.0
924  2021-03-29 12:00:00   52.85   16.52  153.18   9.35  20.81  102.0

     AQI(t-4)  AQI(t-3)  AQI(t-2)  AQI(t-1)  AQI(t+1)  AQI(t+2)  AQI(t+3)  \
0         NaN       NaN       NaN       NaN      77.0      75.0      74.0
1         NaN       NaN       NaN      78.0      75.0      74.0      72.0
2         NaN       NaN      78.0      77.0      74.0      72.0      70.0
3         NaN      78.0      77.0      75.0      72.0      70.0      70.0
4        78.0      77.0      75.0      74.0      70.0      70.0      69.0
5        77.0      75.0      74.0      72.0      70.0      69.0      68.0
6        75.0      74.0      72.0      70.0      69.0      68.0      67.0
7        74.0      72.0      70.0      70.0      68.0      67.0      66.0
8        72.0      70.0      70.0      69.0      67.0      66.0      64.0
9        70.0      70.0      69.0      68.0      66.0      64.0      64.0
10       70.0      69.0      68.0      67.0      64.0      64.0      63.0
11       69.0      68.0      67.0      66.0      64.0      63.0      59.0
12       68.0      67.0      66.0      64.0      63.0      59.0      57.0
13       67.0      66.0      64.0      64.0      59.0      57.0      61.0
14       66.0      64.0      64.0      63.0      57.0      61.0      63.0
15       64.0      64.0      63.0      59.0      61.0      63.0      64.0
16       64.0      63.0      59.0      57.0      63.0      64.0      64.0
17       63.0      59.0      57.0      61.0      64.0      64.0      63.0
18       59.0      57.0      61.0      63.0      64.0      63.0      64.0
19       57.0      61.0      63.0      64.0      63.0      64.0      65.0
20       61.0      63.0      64.0      64.0      64.0      65.0      65.0
21       63.0      64.0      64.0      63.0      65.0      65.0      64.0
22       64.0      64.0      63.0      64.0      65.0      64.0      64.0
23       64.0      63.0      64.0      65.0      64.0      64.0      63.0
24       63.0      64.0      65.0      65.0      64.0      63.0      64.0
25       64.0      65.0      65.0      64.0      63.0      64.0      65.0
26       65.0      65.0      64.0      64.0      64.0      65.0      64.0
27       65.0      64.0      64.0      63.0      65.0      64.0      65.0
28       64.0      64.0      63.0      64.0      64.0      65.0      62.0
29       64.0      63.0      64.0      65.0      65.0      62.0      62.0
..        ...       ...       ...       ...       ...       ...       ...
895      60.0      59.0      60.0      61.0      65.0      59.0      60.0
896      59.0      60.0      61.0      59.0      59.0      60.0      63.0
897      60.0      61.0      59.0      65.0      60.0      63.0      64.0
898      61.0      59.0      65.0      59.0      63.0      64.0      67.0
899      59.0      65.0      59.0      60.0      64.0      67.0      74.0
900      65.0      59.0      60.0      63.0      67.0      74.0      84.0
901      59.0      60.0      63.0      64.0      74.0      84.0      93.0
902      60.0      63.0      64.0      67.0      84.0      93.0      86.0
903      63.0      64.0      67.0      74.0      93.0      86.0      74.0
904      64.0      67.0      74.0      84.0      86.0      74.0      70.0
905      67.0      74.0      84.0      93.0      74.0      70.0      66.0
906      74.0      84.0      93.0      86.0      70.0      66.0      62.0
907      84.0      93.0      86.0      74.0      66.0      62.0      63.0
908      93.0      86.0      74.0      70.0      62.0      63.0      67.0
909      86.0      74.0      70.0      66.0      63.0      67.0      64.0
910      74.0      70.0      66.0      62.0      67.0      64.0      53.0
911      70.0      66.0      62.0      63.0      64.0      53.0      45.0
912      66.0      62.0      63.0      67.0      53.0      45.0     105.0
913      62.0      63.0      67.0      64.0      45.0     105.0     104.0
914      63.0      67.0      64.0      53.0     105.0     104.0     106.0
915      67.0      64.0      53.0      45.0     104.0     106.0     108.0
916      64.0      53.0      45.0     105.0     106.0     108.0     113.0
917      53.0      45.0     105.0     104.0     108.0     113.0     116.0
918      45.0     105.0     104.0     106.0     113.0     116.0     111.0
919     105.0     104.0     106.0     108.0     116.0     111.0     109.0
920     104.0     106.0     108.0     113.0     111.0     109.0     107.0
921     106.0     108.0     113.0     116.0     109.0     107.0     102.0
922     108.0     113.0     116.0     111.0     107.0     102.0       NaN
923     113.0     116.0     111.0     109.0     102.0       NaN       NaN
924     116.0     111.0     109.0     107.0       NaN       NaN       NaN

     AQI(t+4)  AQI(t+5)
0        72.0      70.0
1        70.0      70.0
2        70.0      69.0
3        69.0      68.0
4        68.0      67.0
5        67.0      66.0
6        66.0      64.0
7        64.0      64.0
8        64.0      63.0
9        63.0      59.0
10       59.0      57.0
11       57.0      61.0
12       61.0      63.0
13       63.0      64.0
14       64.0      64.0
15       64.0      63.0
16       63.0      64.0
17       64.0      65.0
18       65.0      65.0
19       65.0      64.0
20       64.0      64.0
21       64.0      63.0
22       63.0      64.0
23       64.0      65.0
24       65.0      64.0
25       64.0      65.0
26       65.0      62.0
27       62.0      62.0
28       62.0      62.0
29       62.0      62.0
..        ...       ...
895      63.0      64.0
896      64.0      67.0
897      67.0      74.0
898      74.0      84.0
899      84.0      93.0
900      93.0      86.0
901      86.0      74.0
902      74.0      70.0
903      70.0      66.0
904      66.0      62.0
905      62.0      63.0
906      63.0      67.0
907      67.0      64.0
908      64.0      53.0
909      53.0      45.0
910      45.0     105.0
911     105.0     104.0
912     104.0     106.0
913     106.0     108.0
914     108.0     113.0
915     113.0     116.0
916     116.0     111.0
917     111.0     109.0
918     109.0     107.0
919     107.0     102.0
920     102.0       NaN
921       NaN       NaN
922       NaN       NaN
923       NaN       NaN
924       NaN       NaN

[925 rows x 16 columns]

In [71]:
df2_test.head(5)

,Datetime,PM2.5,NO2,NH3,CO,O3,AQI,AQI(t-4),AQI(t-3),AQI(t-2),AQI(t-1),AQI(t+1),AQI(t+2),AQI(t+3),AQI(t+4),AQI(t+5)
0,2021-02-19 00:00:00,35.21,8.61,137.89,9.57,38.16,78.0,NaN,NaN,NaN,NaN,77.0,75.0,74.0,72.0,70.0
1,2021-02-19 01:00:00,31.40,12.18,168.83,9.60,37.40,77.0,NaN,NaN,NaN,78.0,75.0,74.0,72.0,70.0,70.0
2,2021-02-19 02:00:00,22.44,5.89,213.37,9.51,35.97,75.0,NaN,NaN,78.0,77.0,74.0,72.0,70.0,70.0,69.0
3,2021-02-19 03:00:00,18.30,5.18,89.84,10.68,37.31,74.0,NaN,78.0,77.0,75.0,72.0,70.0,70.0,69.0,68.0
4,2021-02-19 04:00:00,16.87,8.84,96.17,9.48,34.77,72.0,78.0,77.0,75.0,74.0,70.0,70.0,69.0,68.0,67.0

In [72]:
df2_test.tail(5)

,Datetime,PM2.5,NO2,NH3,CO,O3,AQI,AQI(t-4),AQI(t-3),AQI(t-2),AQI(t-1),AQI(t+1),AQI(t+2),AQI(t+3),AQI(t+4),AQI(t+5)
920,2021-03-29 08:00:00,66.87,7.95,58.00,9.85,28.78,116.0,104.0,106.0,108.0,113.0,111.0,109.0,107.0,102.0,NaN
921,2021-03-29 09:00:00,61.34,6.60,94.02,9.81,25.64,111.0,106.0,108.0,113.0,116.0,109.0,107.0,102.0,NaN,NaN
922,2021-03-29 10:00:00,59.09,7.05,32.10,9.64,23.94,109.0,108.0,113.0,116.0,111.0,107.0,102.0,NaN,NaN,NaN
923,2021-03-29 11:00:00,57.06,11.19,137.40,9.28,19.09,107.0,113.0,116.0,111.0,109.0,102.0,NaN,NaN,NaN,NaN
924,2021-03-29 12:00:00,52.85,16.52,153.18,9.35,20.81,102.0,116.0,111.0,109.0,107.0,NaN,NaN,NaN,NaN,NaN

In [73]:
actual_values=[aqi_list_test[-5:]]
print(actual_values)

[[116.0, 111.0, 109.0, 107.0, 102.0]]

In [74]:
dropnan=True
if dropnan:
	df2.dropna(inplace=True)

In [75]:
dropnan=True
if dropnan:
	df2_test.dropna(inplace=True)

In [76]:
df2_test.head(5)

,Datetime,PM2.5,NO2,NH3,CO,O3,AQI,AQI(t-4),AQI(t-3),AQI(t-2),AQI(t-1),AQI(t+1),AQI(t+2),AQI(t+3),AQI(t+4),AQI(t+5)
4,2021-02-19 04:00:00,16.87,8.84,96.17,9.48,34.77,72.0,78.0,77.0,75.0,74.0,70.0,70.0,69.0,68.0,67.0
5,2021-02-19 05:00:00,19.78,5.13,60.00,9.48,29.37,70.0,77.0,75.0,74.0,72.0,70.0,69.0,68.0,67.0,66.0
6,2021-02-19 06:00:00,35.17,6.42,21.67,9.50,50.77,70.0,75.0,74.0,72.0,70.0,69.0,68.0,67.0,66.0,64.0
7,2021-02-19 07:00:00,34.90,22.74,79.46,9.54,47.24,69.0,74.0,72.0,70.0,70.0,68.0,67.0,66.0,64.0,64.0
8,2021-02-19 08:00:00,25.63,23.20,144.13,9.55,44.28,68.0,72.0,70.0,70.0,69.0,67.0,66.0,64.0,64.0,63.0

In [77]:
df2_test.tail(5)

,Datetime,PM2.5,NO2,NH3,CO,O3,AQI,AQI(t-4),AQI(t-3),AQI(t-2),AQI(t-1),AQI(t+1),AQI(t+2),AQI(t+3),AQI(t+4),AQI(t+5)
915,2021-02-18 03:00:00,55.23,16.12,109.64,10.42,24.26,105.0,67.0,64.0,53.0,45.0,104.0,106.0,108.0,113.0,116.0
916,2021-03-29 04:00:00,53.73,10.42,136.99,10.75,29.88,104.0,64.0,53.0,45.0,105.0,106.0,108.0,113.0,116.0,111.0
917,2021-03-29 05:00:00,56.22,7.70,42.67,11.32,29.79,106.0,53.0,45.0,105.0,104.0,108.0,113.0,116.0,111.0,109.0
918,2021-03-29 06:00:00,58.25,6.72,19.33,10.10,27.94,108.0,45.0,105.0,104.0,106.0,113.0,116.0,111.0,109.0,107.0
919,2021-03-29 07:00:00,65.47,7.52,115.45,11.29,27.77,113.0,105.0,104.0,106.0,108.0,116.0,111.0,109.0,107.0,102.0

In [78]:
X_train=np.array(df2[['PM2.5','NO2','NH3','CO','O3','AQI','AQI(t-4)','AQI(t-3)','AQI(t-2)','AQI(t-1)']])
y_train=np.array(df2[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

X_test=np.array(df2_test[['PM2.5','NO2','NH3','CO','O3','AQI','AQI(t-4)','AQI(t-3)','AQI(t-2)','AQI(t-1)']])
y_test=np.array(df2_test[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

In [79]:
from sklearn import linear_model
lin_reg = linear_model.LinearRegression() 
lin_reg.fit(X_train, y_train)

LinearRegression()

In [80]:
rows,cols=X_test.shape
y_pred=lin_reg.predict(X_test)
pred=y_pred[rows-1]
print('Forecasted AQI:')
print(pred)

Forecasted AQI:
[116.69781927 120.47690509 124.0167688  127.63136197 130.24218262]

In [81]:
from sklearn.metrics import mean_squared_error
from math import sqrt
rmse = sqrt(mean_squared_error(actual_values,[pred]))
print('RMSE:')
print(rmse)

RMSE:
17.54466302412524

In [116]:
from sklearn.multioutput import MultiOutputRegressor
from sklearn import svm
svm_reg=MultiOutputRegressor(svm.SVR(kernel='poly')).fit(X_train, y_train)
y_pred=svm_reg.predict(X_test)
predicted=y_pred[rows-1]

In [118]:
print('Forecasted AQI:')
print(predicted)
rmse = sqrt(mean_squared_error(actual_values,[predicted]))
print('RMSE:')
print(rmse)

Forecasted AQI:
[105.23117412 105.00038825 104.57428231 104.33980542 104.56385841]
RMSE:
5.902553865500806

In [112]:
from sklearn.multioutput import MultiOutputRegressor
import xgboost as xg
xgb=MultiOutputRegressor(xg.XGBRegressor(n_estimators=8,max_depth=18)).fit(X_train, y_train)
y_pred=xgb.predict(X_test)
pred=y_pred[rows-1]
print('Forecasted AQI:')
print(pred)
rmse = sqrt(mean_squared_error(actual_values, [pred]))
print('RMSE:')
print(rmse)

Forecasted AQI:
[106.97276  110.59943  107.152954 109.12114  106.726234]
RMSE:
4.730741367746791

In [105]:
from sklearn.ensemble import RandomForestRegressor
rf=MultiOutputRegressor(RandomForestRegressor(n_estimators=10,max_depth=20)).fit(X_train, y_train)
y_pred=rf.predict(X_test)
pred=y_pred[rows-1]
print('Forecasted AQI:')
print(pred)
rmse = sqrt(mean_squared_error(actual_values, [pred]))
print('RMSE:')
print(rmse)

Forecasted AQI:
[116.00763624 111.04378613 112.55652019 113.95747863 113.64368794]
RMSE:
6.27108904853743

In [115]:
pred=[]
from sklearn.ensemble import StackingRegressor
from sklearn.linear_model import RidgeCV
from sklearn import svm

X_train1=np.array(df2[['PM2.5','NO2','NH3','CO','O3','AQI','AQI(t-4)','AQI(t-3)','AQI(t-2)','AQI(t-1)']])
X_test1=np.array(df2_test[['PM2.5','NO2','NH3','CO','O3','AQI','AQI(t-4)','AQI(t-3)','AQI(t-2)','AQI(t-1)']])

for i in range(1,6):
    y_train1=np.array(df2['AQI(t+%d)' %i])
    y_test1=np.array(df2_test['AQI(t+%d)' %i])
    #print(y_train1.shape,y_test1.shape)
    estimators = [  ('svm', svm.SVR(kernel='poly')), ('xgb',xg.XGBRegressor(n_estimators=8,max_depth=18)),('rf',RandomForestRegressor(n_estimators=10,max_depth=20)) ]
    stck_reg = StackingRegressor(estimators=estimators,cv=8,n_jobs=-1).fit(X_train1,y_train1)
    y_pred=stck_reg.predict(X_test1)
    pred.append(y_pred[rows-1])
    print(pred)
    y_train1=y_train1.reshape(-1,1)
    X_train1=np.append(X_train1, y_train1, axis=1)
    y_test1=y_test1.reshape(-1,1)
    X_test1=np.append(X_test1, y_test1, axis=1)
    #print(X_train1.shape,X_test1.shape)
    
print('Forecasted AQI:')
print(pred)
rmse = sqrt(mean_squared_error(actual_values, [pred]))
print('RMSE:')
print(rmse)

[113.67369248451631]
[113.67369248451631, 117.08753688360139]
[113.67369248451631, 117.08753688360139, 111.13386308547143]
[113.67369248451631, 117.08753688360139, 111.13386308547143, 107.44860972317082]
[113.67369248451631, 117.08753688360139, 111.13386308547143, 107.44860972317082, 106.79359788114145]
Forecasted AQI:
[113.67369248451631, 117.08753688360139, 111.13386308547143, 107.44860972317082, 106.79359788114145]
RMSE:
3.7470792615888993